<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<app-loading-spinner *ngIf="isLoading" cover="true"></app-loading-spinner>

<div class="jumbotron">
  <div fxLayout="row wrap">
    <div
      fxFlex="50"
      fxLayoutAlign="start center"
      *ngIf="user.hasRole('SysAdmin')"
    >
      <button
        id="createStudy"
        mat-raised-button
        color="primary"
        (click)="addOrEditStudy()"
        data-unit="create-study-button"
        data-e2e="create-study-button"
      >
        {{ 'STUDIES.NEW_STUDY' | translate }}
      </button>
    </div>
    <div>
      <mat-form-field>
        <input
          matInput
          [formControl]="filterKeyword"
          placeholder="{{ 'DIALOG.FILTER' | translate }}"
          data-e2e="filter"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="probands-container mat-elevation-z8" data-e2e="study-list">
    <mat-table
      [dataSource]="dataSource"
      matSortActive="name"
      matSortDirection="asc"
      matSort
    >
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="column name">
          {{ 'STUDIES.STUDY_NAME' | translate }}
        </mat-header-cell>
        <mat-cell
          *matCellDef="let row"
          class="column name"
          data-e2e="e2e-forscher-studies-study-name"
        >
          {{ row.name }}
        </mat-cell>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="column name">
          {{ 'QUESTIONNAIRE_FORSCHER.DESCRIPTION' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="column name">
          {{ row.description }}
        </mat-cell>
      </ng-container>

      <!-- Study status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          fxLayoutAlign="center center"
        >
          {{ 'QUESTIONNAIRES_PROBAND.STATUS' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" fxLayoutAlign="center center">
          {{ row.status | studyStatusConvert | translate }}
        </mat-cell>
      </ng-container>

      <!-- Registration Column -->
      <ng-container matColumnDef="registration">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          fxLayoutAlign="center center"
        >
          {{ 'STUDIES.REGISTRATION' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" fxLayoutAlign="center center">
          {{
            (row.has_open_self_registration
              ? 'STUDIES.OPEN_REGISTRATION'
              : 'STUDIES.CLOSED_REGISTRATION'
            ) | translate
          }}
          <a
            mat-icon-button
            color="primary"
            target="_blank"
            *ngIf="
              row.has_open_self_registration &&
              isStudyConfigurationComplete(row)
            "
            [href]="row.registrationUrl"
            [matTooltip]="'STUDY.OPEN_REGISTRATION_LINK' | translate"
          >
            <mat-icon>open_in_new</mat-icon>
          </a>
          <div
            *ngIf="
              row.has_open_self_registration &&
              !isStudyConfigurationComplete(row)
            "
            [matTooltip]="'STUDY.CONFIGURATION_INCOMPLETE_HINT' | translate"
          >
            &nbsp;<mat-icon>warning</mat-icon>
          </div>
        </mat-cell>
      </ng-container>

      <!-- Accounts Count Column -->
      <ng-container matColumnDef="accounts">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          fxLayoutAlign="center center"
        >
          {{ 'STUDIES.ACCOUNTS' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" fxLayoutAlign="center center">
          <span [matTooltip]="'STUDY.ACCOUNTS_COUNT_HINT' | translate">
            {{ row.accounts_count }}
          </span>
          <ng-container>
            <span
              *ngIf="row.max_allowed_accounts_count"
              [matTooltip]="'STUDY.MAX_ALLOWED_ACCOUNTS_COUNT_HINT' | translate"
            >
              &nbsp;/ {{ row.max_allowed_accounts_count }}</span
            >
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="view">
        <mat-header-cell
          *matHeaderCellDef
          fxFlex="1 0 40px"
          fxLayoutAlign="center center"
        ></mat-header-cell>
        <mat-cell
          *matCellDef="let row"
          fxFlex="1 0 40px"
          fxLayoutAlign="center center"
        >
          <button
            mat-icon-button
            (click)="viewAllUsersInStudy(row.name)"
            *ngIf="user.hasRole('SysAdmin')"
            [disabled]="row.status === 'deleted'"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="openDialog(row.name, 'study')"
            *ngIf="user.hasRole('SysAdmin')"
            [disabled]="row.status !== 'active'"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-icon-button
            data-unit="edit-study-button"
            (click)="addOrEditStudy(row.name)"
            *ngIf="user.hasRole('SysAdmin')"
            [disabled]="row.status === 'deleted'"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>

    <div class="table-no-results" *ngIf="dataSource.filteredData.length === 0">
      {{ 'QUESTIONNAIRES_FORSCHER.FILTER_NO_RESULTS' | translate }}
    </div>

    <mat-paginator
      #paginator
      [length]="dataSource.filteredData.length"
      [pageIndex]="0"
      [pageSize]="25"
      [pageSizeOptions]="[5, 10, 25, 100]"
    >
    </mat-paginator>
  </div>
</div>
