 <source>
   @type forward
 </source>

<filter pia.*>
  @type record_transformer
  remove_keys container_id,container_name,source, log
  <record>
    time ${time}
    tag ${tag}
    message ${record["log"]}
  </record>
</filter>

<match pia.*>
  @type file
  path /logs/pia.log
  add_path_suffix false
  append true

  <buffer>
    timekey 1h
    timekey_wait 10s
  </buffer>

  <format>
    @type ltsv
  </format>
</match>
