<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<ion-item *ngIf="label" class="pia-questionnaire-question" lines="none">
  <ion-label class="ion-text-wrap">{{ label }}</ion-label>
</ion-item>
<ion-item lines="inset">
  <ion-input
    type="text"
    [placeholder]="label"
    [disabled]="disabled"
    [name]="name"
    [formControl]="control"
    (keyup.enter)="hideKeyboard($event)"
  >
  </ion-input>
</ion-item>
