/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.pia-welcome-card,
.pia-welcome-card p {
  text-align: center;
  font-size: 1.1em;
}

.store-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .store-link {
    margin: 6px;

    .store-badge {
      width: 200px;
    }
  }
}

.margin-top {
  margin-top: 80px;
}
