/*!
 * SPDX-FileCopyrightText: 2022 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

$color-white: #fff;
$color-black: #000;
$color-label: #6c6c6c;
$color-red: #eb445a;

$primary-color: #f1f6ed;
$primary-color-dark: #8db65c;
$link-color: $primary-color-dark;

$background-color: $primary-color;

$font-family: Arial, sans-serif;
$font-color: $color-black;

$form-error-color: $color-red;
