/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.alert-danger {
  background-color: #f44336;
}

.alert-success {
  background-color: #36f456;
}

.alert {
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 5;
}
