<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<app-loading-spinner *ngIf="isLoading" cover="true"></app-loading-spinner>

<div class="jumbotron">
  <mat-grid-list [cols]="3" rowHeight="50px">
    <mat-grid-tile colspan="3">
      <button mat-raised-button color="primary" (click)="resetFilter()">
        {{ 'PROBANDS_TO_CONTACT.FILTER_BY_ALL' | translate }}
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="filterByNotableAnswer()"
      >
        {{ 'PROBANDS_TO_CONTACT.FILTER_BY_NOTABLE' | translate }}
        <span>⚡</span>
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="filterByNotFilledout()"
      >
        {{ 'PROBANDS_TO_CONTACT.FILTER_BY_NOT_FILLEDOUT' | translate }}
        <span>?</span>
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="probands-container mat-elevation-z1">
    <mat-table
      [dataSource]="dataSource"
      matSortActive="username"
      matSortDirection="asc"
      matSort
    >
      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROBAND.PSEUDONYM' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.username }} </mat-cell>
      </ng-container>

      <!-- IDS Column -->
      <ng-container matColumnDef="ids">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROBAND.IDS' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.ids }} </mat-cell>
      </ng-container>

      <!-- Firstname Column -->
      <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'GENERAL.FIRST_NAME' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.firstname }} </mat-cell>
      </ng-container>

      <!-- Lastname Column -->
      <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'GENERAL.NAME' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.lastname }}
        </mat-cell>
      </ng-container>

      <!-- AccountStatus Column -->
      <ng-container matColumnDef="accountStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROBANDEN.ACCOUNT_STATUS' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="account-status-value">
          {{ row.accountStatus | translate }}
          <ng-container *ngIf="row.pendingComplianceChange">
            - {{ 'PROBANDEN.STATUS_COMPLIANCE_CHANGE_REQUESTED' | translate }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <!-- Questionnaire Instances Title Set 1 -->
      <ng-container matColumnDef="notableAnswerQIs">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'GENERAL.QUESTIONNAIRE' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container *ngFor="let item of row.notableAnswerQIs"
            >- {{ item }} <br
          /></ng-container>
        </mat-cell>
      </ng-container>

      <!-- Notable Answer -->
      <ng-container matColumnDef="notable">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROBANDS_TO_CONTACT.NOTABLE' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.notable !== undefined" class="date-cel">
            <span [style.color]="row.processed == false ? 'red' : 'grey'"
              >⚡</span
            >
            <small>{{ row.notable_timestamp | date }}</small>
          </div>
        </mat-cell>
      </ng-container>

      <!-- Questionnaire Instances Title Set 2 -->
      <ng-container matColumnDef="notFilledoutQIs">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'GENERAL.QUESTIONNAIRE' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container *ngFor="let item of row.notFilledoutQIs"
            >- {{ item }} <br
          /></ng-container>
        </mat-cell>
      </ng-container>

      <!-- Questionnaire not filled out -->
      <ng-container matColumnDef="notFilledout">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROBANDS_TO_CONTACT.QUESTIONNAIRE_STATUS' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.notFilledout !== undefined" class="date-cel">
            <span [style.color]="row.processed == false ? 'red' : 'grey'"
              >?</span
            >
            <small>{{ row.notFilledout_timestamp | date }}</small>
          </div>
        </mat-cell>
      </ng-container>

      <!-- Processed -->
      <ng-container matColumnDef="processed">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROBANDS_TO_CONTACT.PROCESSED' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            (change)="setProcessed(row.id, $event.checked)"
            [checked]="row.processed"
          ></mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Send Email -->
      <ng-container matColumnDef="contact">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            data-unit="contact-button"
            (click)="contactProband(row.username)"
            [disabled]="row.accountStatus !== 'PROBANDEN.STATUS_ACTIVE'"
          >
            <mat-icon>email</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- View Contact Info-->
      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            data-unit="view-button"
            (click)="viewContactInfo(row.username)"
            [disabled]="row.accountStatus !== 'PROBANDEN.STATUS_ACTIVE'"
          >
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>

    <mat-paginator
      #paginator
      [length]="dataSource.filteredData.length"
      [pageSize]="25"
      [pageSizeOptions]="[5, 10, 25, 100]"
    >
    </mat-paginator>
  </div>
</div>
