/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

mat-grid-list {
  button {
    &:nth-child(2) {
      margin: 0 10px;
    }

    span {
      font-size: 24px;
      color: red;
    }
  }

  mat-form-field {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.date-cel {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/*username column*/
mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
  flex: 0 0 10%;
}

/*questionnaire title column*/
mat-cell:nth-child(6),
mat-header-cell:nth-child(6) {
  flex: 0 0 10%;
  overflow-wrap: anywhere;
}

/*questionnaire title column*/
mat-cell:nth-child(8),
mat-header-cell:nth-child(8) {
  flex: 0 0 10%;
  overflow-wrap: anywhere;
}
