<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<div class="jumbotron">
  <mat-grid-list [cols]="3" rowHeight="50px">
    <mat-grid-tile colspan="3">
      <button mat-raised-button color="primary" (click)="resetFilter()">
        {{ 'PROBANDS_TO_CONTACT.FILTER_BY_ALL' | translate }}
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="filterByNotableAnswer()"
      >
        {{ 'PROBANDS_TO_CONTACT.FILTER_BY_NOTABLE' | translate }}
        <span>⚡</span>
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="filterByNotFilledout()"
      >
        {{ 'PROBANDS_TO_CONTACT.FILTER_BY_NOT_FILLEDOUT' | translate }}
        <span>?</span>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <div *ngIf="isDataReady" class="probands-container mat-elevation-z8">
    <mat-table
      #table
      [dataSource]="dataSource"
      matSortActive="username"
      matSortDirection="asc"
      matSort
    >
      <!-- Username Column -->
      <ng-container matColumnDef="username" matSortStart>
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROBAND.PSEUDONYM' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.username }} </mat-cell>
      </ng-container>

      <!-- IDS Column -->
      <ng-container matColumnDef="ids" matSortStart>
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROBAND.IDS' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.ids }} </mat-cell>
      </ng-container>

      <!-- Firstname Column -->
      <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'GENERAL.FIRST_NAME' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.firstname }} </mat-cell>
      </ng-container>

      <!-- Lastname Column -->
      <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'GENERAL.NAME' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.lastname }}
        </mat-cell>
      </ng-container>

      <!-- AccountStatus Column -->
      <ng-container matColumnDef="accountStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROBANDEN.ACCOUNT_STATUS' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="account-status-value">
          {{ row.accountStatus | translate }}
          <ng-container *ngIf="row.pendingComplianceChange">
            - {{ 'PROBANDEN.STATUS_COMPLIANCE_CHANGE_REQUESTED' | translate }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <!-- Questionnaire Instances Title Set 1 -->
      <ng-container matColumnDef="questionnaire1">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'GENERAL.QUESTIONNAIRE' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container
            *ngFor="let item of row.notable_answer_questionnaire_instances"
            >-{{ item.questionnaire_name }} <br
          /></ng-container>
        </mat-cell>
      </ng-container>

      <!-- Notable Answer -->
      <ng-container matColumnDef="notable">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROBANDS_TO_CONTACT.NOTABLE' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngIf="row.notable !== undefined">
            <div class="marker">
              <span [style.color]="row.processed == false ? 'red' : 'grey'"
                >⚡</span
              >
            </div>
            <div class="marker-date">
              <small>{{ row.notable_timestamp | date: 'dd.MM.yyyy' }}</small>
            </div>
          </span>
        </mat-cell>
      </ng-container>

      <!-- Questionnaire Instances Title Set 2 -->
      <ng-container matColumnDef="questionnaire2">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'GENERAL.QUESTIONNAIRE' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container
            *ngFor="let item of row.not_filledout_questionnaire_instances"
            >-{{ item.questionnaire_name }} <br
          /></ng-container>
        </mat-cell>
      </ng-container>

      <!-- Questionnaire not filled out -->
      <ng-container matColumnDef="notFilledout">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROBANDS_TO_CONTACT.QUESTIONNAIRE_STATUS' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngIf="row.notFilledout !== undefined">
            <div class="marker">
              <span [style.color]="row.processed == false ? 'red' : 'grey'"
                >?</span
              >
            </div>
            <div class="marker-date">
              <small>{{
                row.notFilledout_timestamp | date: 'dd.MM.yyyy'
              }}</small>
            </div>
          </span>
        </mat-cell>
      </ng-container>

      <!-- Processed -->
      <ng-container matColumnDef="processed">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROBANDS_TO_CONTACT.PROCESSED' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            (change)="setProcessed(row.id, $event.checked)"
            [checked]="row.processed"
          ></mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Send Email -->
      <ng-container matColumnDef="contact">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            #delete
            mat-icon-button
            (click)="contactProband([row.username])"
            [disabled]="row.accountStatus !== 'PROBANDEN.STATUS_ACTIV'"
          >
            <mat-icon>email</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- View Contact Info-->
      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            #delete
            mat-icon-button
            (click)="viewContactInfo(row.username)"
            [disabled]="row.accountStatus !== 'PROBANDEN.STATUS_ACTIV'"
          >
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>

    <mat-paginator
      #paginator
      [length]="dataSource.data.length"
      [pageSize]="25"
      [pageSizeOptions]="[5, 10, 25, 100]"
    >
    </mat-paginator>
  </div>
</div>
