# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings/
*.sublime-workspace
.vscode
**/*.iml

secrets
.docker
coverage
node_modules
.npm
.sonar
.scannerwork

**/__pycache__
**/.nyc_output
**/node_modules
