/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

:root {
  --pia-space-y: 20px;
  --pia-space-x: 20px;
  --grid-layout-gap: calc(var(--pia-space-y) / 2);
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.background-container,
body {
  background-color: #f1f6ed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// align icons in headings and card title
h3,
.mat-mdc-card-title {
  display: flex !important;
  align-items: center;
  gap: calc(var(--pia-space-x) / 2);
}

// align anything next to card header to the right by expanding the card header
.mat-mdc-card-header-text {
  &:has(~ *) {
    flex-grow: 1;
  }
}

.align-center {
  text-align: center;
}

.list-group {
  list-style: none;
  padding-left: 0;
}

.item-class {
  margin: 15px;
}

.jumbotron {
  align-items: center;
  margin: 20px;
}

.space-y {
  > *:first-child {
    margin-block-end: unset;
  }

  > * + * {
    margin-top: var(--pia-space-y);
  }

  > * + .mat-divider {
    margin-top: var(--pia-space-y) !important;
  }
}

.space-x {
  > * + * {
    margin-left: var(--pia-space-x);
  }
}

.full-width-children {
  > * {
    display: block;
    width: 100%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: var(
    --grid-template-columns,
    repeat(auto-fit, minmax(100px, 1fr))
  );
  grid-gap: var(--grid-layout-gap);
  align-items: start;
}

.utility-card {
  mat-card-content {
    @extend .grid-container;
    padding-bottom: 0 !important;
  }
}

.material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.table-no-results {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 12px;
  font-style: italic;
  opacity: 0.7;
  background: #fff;
}

@media screen and (max-width: 959px) {
  .jumbotron {
    height: 95%;

    > .container {
      height: 100%;
    }
  }
}

.snack-bar-error {
  --mdc-snackbar-container-color: red;
  --mat-mdc-snack-bar-button-color: white;

  .mat-button-wrapper {
    --mat-mdc-snack-bar-button-color: white;
  }
}

.grid-container-2cols {
  --grid-column-count: 2;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(300px, var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);

  .grid-item-50 {
    grid-column-end: span 1;
  }

  .grid-item-100 {
    grid-column-end: span 2;
  }

  .grid-item-rows-2 {
    grid-row-end: span 2;
  }
}

.grid-container-10cols {
  --grid-column-count: 10;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(50px, var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);

  .grid-item-10 {
    grid-column-end: span 1;
  }

  .grid-item-20 {
    grid-column-end: span 2;
  }

  .grid-item-30 {
    grid-column-end: span 3;
  }

  .grid-item-40 {
    grid-column-end: span 4;
  }

  .grid-item-50 {
    grid-column-end: span 5;
  }

  .grid-item-60 {
    grid-column-end: span 6;
  }

  .grid-item-70 {
    grid-column-end: span 7;
  }

  .grid-item-80 {
    grid-column-end: span 8;
  }

  .grid-item-90 {
    grid-column-end: span 9;
  }

  .grid-item-100 {
    grid-column-end: span 10;
  }

  .grid-item-rows-2 {
    grid-row-end: span 2;
  }
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-top-0 {
  margin-top: 0 !important;
}
