<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<div *ngIf="form">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <form [formGroup]="form" (ngSubmit)="submit(form)">
    <h1 mat-dialog-title>
      {{ 'DIALOG.ADD_PSEUDONYM_TITLE' | translate: data }}
    </h1>
    <mat-dialog-content>
      <mat-grid-list [cols]="1" rowHeight="2rem">
        <mat-grid-tile [rowspan]="2">
          <mat-form-field>
            <input
              matInput
              formControlName="pseudonym"
              placeholder="{{ 'PROBAND.PSEUDONYM' | translate }}"
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="1">
          <mat-checkbox
            fxFlex
            fxLayoutAlign="start center"
            formControlName="compliance_labresults"
          >
            {{'PROBAND.COMPLIANCE_LABRESULTS' | translate }}
          </mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="1">
          <mat-checkbox
            fxFlex
            fxLayoutAlign="start center"
            formControlName="compliance_samples"
          >
            {{'PROBAND.COMPLIANCE_SAMPLES' | translate }}
          </mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="1">
          <mat-checkbox
            fxFlex
            fxLayoutAlign="start center"
            formControlName="compliance_bloodsamples"
          >
            {{'PROBAND.COMPLIANCE_BLOODSAMPLES' | translate }}
          </mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="2">
          <mat-form-field>
            <input
              matInput
              formControlName="study_center"
              placeholder="{{ 'PROBAND.STUDY_CENTER' | translate }}"
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="2">
          <mat-form-field>
            <input
              matInput
              formControlName="examination_wave"
              type="number"
              placeholder="{{ 'PROBAND.EXAMINATION_WAVE' | translate }}"
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="2">
          <mat-form-field>
            <mat-select
              id="selectstudies"
              [multiple]="true"
              placeholder="{{ 'PLANNED_PROBANDS.STUDY_IDS' | translate }}"
              formControlName="study_accesses"
            >
              <mat-select-search
                [formControl]="studiesFilterCtrl"
              ></mat-select-search>
              <mat-select-trigger
                >{{ selectedStudies.toString() }}</mat-select-trigger
              >
              <mat-option
                *ngFor="let study of filteredStudies | async"
                [value]="study"
              >
                {{ study }}
              </mat-option>
              <mat-option
                *ngFor="let study of forcedSelectedStudies"
                [value]="study"
                [disabled]="true"
              >
                {{ study }} {{ 'DIALOG.FORCED_STUDY_EXPLANATION' | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="dialogRef.close()">
        {{ 'DIALOG.CANCEL' | translate }}
      </button>
      <button mat-button type="submit" [disabled]="!form.valid || isLoading">
        {{ 'DIALOG.REGISTER' | translate }}
      </button>
    </mat-dialog-actions>
  </form>
</div>
