/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.utility-card {
  --grid-template-columns: repeat(var(--columns), 1fr);
}

.probands-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  opacity: 0.8;
}

.mat-column-select,
.mat-column-needs_material {
  flex: 0 1 auto;
}

.needs-material-icon {
  color: red;
  font-weight: bold;
}

.probands-header {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-mdc-cell {
  display: flex;
  justify-content: flex-start;
  text-align: start;
}

.mat-mdc-header-cell {
  display: flex;
  justify-content: flex-start;
}
