/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.utility-card {
  --grid-template-columns: repeat(var(--columns), 1fr);
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  opacity: 0.8;
}

.needs-material-icon {
  th & {
    color: #ccc;
  }

  td & {
    color: red;
    font-weight: bold;
  }
}
