/*!
 * SPDX-FileCopyrightText: 2024 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

:host {
  .help-text {
    display: flex;
    gap: 0.5em;
    color: rgba(0, 0, 0, 0.55);
    margin-bottom: 0;
    margin-top: -14px;

    .icon {
      position: relative;
      top: 0.2em;
      left: 0.15em;
      margin-right: 0.25em;
      display: block;
      transform: scale(1.75);
      overflow: visible;
      margin-top: 14px;
    }
  }
}
