/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
.grid-container {
  grid-template-columns: 1fr min-content;
}

button {
  margin-bottom: var(--pia-space-y);
  float: right;
}
