<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<h1 mat-dialog-title>{{ 'PLANNED_PROBANDS.ADD' | translate }}</h1>
<form [formGroup]="form" #f="ngForm">
  <mat-dialog-content>
    <div formArrayName="pseudonyms">
      <div
        *ngFor="let pseudonym of getPseudonymsControl().controls; let i = index"
        class="grid-container"
      >
        <mat-form-field>
          <mat-label>{{
            'PLANNED_PROBANDS.SCAN_OR_TYPE' | translate
          }}</mat-label>
          <input
            #input
            matInput
            [formControlName]="i"
            (keyup.enter)="moveToNextField(i)"
          />

          <mat-icon
            matSuffix
            *ngIf="!form.controls['pseudonyms'].controls[i].valid"
            >warning</mat-icon
          >
          <mat-icon
            matSuffix
            *ngIf="wasPosted && currentPlannedProbands[i].wasCreated"
            color="primary"
            >check_circle_outline</mat-icon
          >
          <mat-icon
            matSuffix
            *ngIf="wasPosted && currentPlannedProbands[i].wasCreated === false"
            color="warn"
            >error_outline</mat-icon
          >
        </mat-form-field>
        <button type="button" mat-icon-button (click)="removePlannedProband(i)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
    </div>
    <button type="button" mat-icon-button (click)="addPlannedProband()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </mat-dialog-content>
</form>
<mat-dialog-actions>
  <button mat-button type="button" mat-dialog-close>
    {{ 'PLANNED_PROBANDS.CLOSE' | translate }}
  </button>
  <button
    [disabled]="!wasPosted"
    mat-button
    color="accent"
    (click)="closeDialogAndPrint()"
  >
    {{ 'PLANNED_PROBANDS.PRINT' | translate }}
  </button>
  <button
    [disabled]="!f.form.valid"
    mat-button
    color="primary"
    (click)="submit()"
  >
    {{ 'PLANNED_PROBANDS.POST' | translate }}
  </button>
</mat-dialog-actions>
