<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<div class="ion-margin-top">
  <ion-progress-bar
    *ngIf="status === 'active' || status === 'in_progress'"
    [value]="progress / 100"
    color="secondary"
  ></ion-progress-bar>
  <ion-progress-bar
    *ngIf="status === 'released_once'"
    [value]="progress / 100"
    color="tertiary"
  ></ion-progress-bar>
  <ion-progress-bar
    *ngIf="status === 'released_twice'"
    [value]="progress / 100"
    color="medium"
  ></ion-progress-bar>
  <ion-note>{{ progress }}%</ion-note>
</div>
