<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<ion-item *ngIf="label" class="pia-questionnaire-question" lines="none">
  <ion-label class="ion-text-wrap">{{ label }}</ion-label>
</ion-item>
@if (useAutocomplete) {
<ion-item>
  <ion-input
    type="text"
    [placeholder]="'QUESTIONNAIRE_QUESTIONS.AUTOCOMPLETE_PICK' | translate"
    [formControl]="control"
    (ionInput)="filterValues()"
    (ionBlur)="validateAutocompleteInput()"
    (ionFocus)="displayAutocomplete()"
  ></ion-input>
</ion-item>

<ion-list *ngIf="showAutocompleteOptions">
  <ion-item
    *ngFor="let value of filteredValues; let index = index"
    button
    (click)="selectValue(value)"
    (onKeyPress)="selectValue(value)"
  >
    <ion-label>{{ value }}</ion-label>
  </ion-item>
</ion-list>

} @else {
<ion-radio-group
  [formControl]="control"
  [name]="name"
  allowEmptySelection="true"
>
  <ion-item *ngFor="let value of values" lines="none">
    <ion-radio [value]="value" [disabled]="disabled" color="dark" mode="md">
      <div class="ion-text-wrap">{{ value }}</div>
    </ion-radio>
  </ion-item>
</ion-radio-group>
}
