# Logs
logs

# Dependency directories
node_modules/
.npm

# dotenv environment variables file
.env

# Test reports
tests/reports
coverage
.nyc_output

# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings/
*.sublime-workspace
.vscode

# Secrets
authKey
firebase
ssl
tests/private.key

# Build
.nx/
dist/
spec/

resources/README.pdf
