/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

:host {
  display: block;
}

.test-proband-filter {
  padding-bottom: var(--pia-space-x);

  label {
    margin-right: 10px;
  }

  .mat-mdc-radio-button {
    margin-right: 10px;

    small {
      margin-left: -5px;
    }
  }
}

// ensure, cells have a spacing in between
mat-cell,
.mat-mdc-cell,
mat-footer-cell,
.mat-mdc-footer-cell,
mat-header-cell,
.mat-mdc-header-cell {
  padding: 0.5rem;
}
