/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.filter-area {
  margin-bottom: 15px;
  display: flex;
  flex: 1 1;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  .study-filter {
    max-width: 150px;
  }
  .free-text-filter {
    max-width: 250px;
  }
  .test-proband-filter {
    label {
      margin-right: 10px;
    }
    .mat-radio-button {
      margin-right: 10px;
      small {
        margin-left: -5px;
      }
    }
  }
}

// ensure, cells have a spacing in between
mat-cell,
.mat-cell,
mat-footer-cell,
.mat-footer-cell,
mat-header-cell,
.mat-header-cell {
  padding: 0.5rem;
}
