<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<form [formGroup]="form" (ngSubmit)="login()">
  <ion-list>
    <app-input-password
      name="password"
      [label]="'LOGIN.PASSWORD' | translate"
      formControlName="password"
    >
    </app-input-password>

    <ion-item *ngIf="remainingLoginBlockedTime" lines="full">
      <ion-label class="ion-text-wrap" color="danger">
        {{ 'LOGIN.TOAST_MSG_LOGIN_PASSWORD_TRIES_ERROR' | translate }}
        {{ remainingLoginBlockedTime * 1000 | date: 'mm:ss':'UTC' }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-button
      size="large"
      type="submit"
      color="primary"
      [disabled]="!form.valid || remainingLoginBlockedTime"
    >
      {{ 'LOGIN.LOGIN' | translate }}
    </ion-button>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-margin-bottom">
    <ion-button
      size="small"
      fill="clear"
      color="tertiary"
      (click)="showRequestPWDialog()"
    >
      {{ 'LOGIN.FORGOT_PASSWORD' | translate }}
    </ion-button>
  </ion-row>
</form>
