{{ hostvars[inventory_hostname]['PIA_HZI_FTPSERVICE_USER'] | default(pia_hzi_ftpservice_user) }}:{{ hostvars[inventory_hostname]['PIA_HZI_FTPSERVICE_PASSWORD'] | default(pia_hzi_ftpservice_password) }}:2000:2000:upload
