<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<div class="jumbotron" data-e2e="e2e-settings-content">
  <mat-card>
    <h1>{{ 'SIDENAV.SETTINGS' | translate }}</h1>

    <mat-card-content>
      <div>
        {{ 'SETTINGS.MANAGE_PASSWORD' | translate }}
        <button
          data-e2e="change-password-button"
          unit-change-password-icon
          mat-icon-button
          (click)="changePassword()"
        >
          <mat-icon>subdirectory_arrow_right</mat-icon>
        </button>
      </div>

      <div>
        {{ 'SETTINGS.DELETE_ACCOUNT_AND_PERSONAL_DATA' | translate }}:
        <button
          data-e2e="delete-account-button"
          data-unit="delete-account-button"
          mat-icon-button
          (click)="initiateAccountDeletion()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
