/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.settings-row {
  text-align: start;
  padding-bottom: 10px;

  button {
    mat-icon {
      color: #225168;
    }
  }
}

.blue-divider {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
  border-top-color: #45a3d1;
  border-width: 2px;
}

.settings-checkbox {
  padding-left: 5px;
}
