<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<div class="jumbotron" data-e2e="e2e-settings-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'SIDENAV.SETTINGS' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="block-children space-y">
      <p>
        <button
          data-e2e="change-password-button"
          mat-raised-button
          color="primary"
          (click)="changePassword()"
        >
          {{ 'SETTINGS.MANAGE_PASSWORD' | translate }}
          <mat-icon>subdirectory_arrow_right</mat-icon>
        </button>
      </p>
      <p>
        <button
          data-e2e="delete-account-button"
          data-unit="delete-account-button"
          color="warn"
          mat-raised-button
          (click)="initiateAccountDeletion()"
        >
          {{ 'SETTINGS.DELETE_ACCOUNT_AND_PERSONAL_DATA' | translate }}
          <mat-icon>delete</mat-icon>
        </button>
      </p>
    </mat-card-content>
  </mat-card>
</div>
