<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<div class="jumbotron" data-e2e="e2e-settings-content">
  <mat-card>
    <h1>{{ 'SIDENAV.SETTINGS' | translate }}</h1>

    <mat-card-content>
      <span>{{ 'SETTINGS.MANAGE_PASSWORD' | translate }}</span>
      <button
        data-e2e="e2e-change-password-icon"
        mat-icon-button
        routerLink="/settings/change-password"
      >
        <mat-icon>subdirectory_arrow_right</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
