/*!
 * SPDX-FileCopyrightText: 2023 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

:host {
  display: block;
}

.headline-text-input {
  font-size: 1.1rem;
}

.mat-mdc-card-content {
  padding-top: var(--pia-space-y);
}
