<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<app-dialog-view-partial-deletion
  *ngIf="!isLoading"
  [headerData]="headerData"
  [labResults]="labResults"
  [questionnaireInstances]="questionnaireInstances"
  [cancelText]="'DIALOG.CANCEL' | translate"
  (cancel)="cancelDeletion()"
  (confirm)="confirmDeletion()"
></app-dialog-view-partial-deletion>
