<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<mat-sidenav-container *ngIf="myForm">
  <mat-sidenav
    mode="side"
    [opened]="true"
    fxHide.lt-md="true"
    *ngIf="
      questionnaire_instance_status !== 'released_twice' &&
      (user.hasRole('Proband') || user.hasRole('Untersuchungsteam'))
    "
  >
    <h2 mat-line>Fragen</h2>
    <mat-divider></mat-divider>
    <ul>
      <ng-container
        *ngFor="
          let question of myForm['controls']['questions'].controls;
          let questionIndex = index
        "
      >
        <li
          (click)="onClickQuestion(questionIndex)"
          *ngIf="
            question.controls['show_question'].value &&
            question.controls['show_question_answer_condition'].value &&
            question.controls['answer_options'].controls.length > 0
          "
          data-e2e="e2e-questionnaire-list"
        >
          {{ question.controls['text'].value | stripMarkdown }}
        </li>
      </ng-container>
    </ul>
    <mat-divider></mat-divider>
    <button
      mat-button
      (click)="goToAnswersView(true)"
      data-e2e="e2e-navigation-button"
    >
      {{ 'QUESTIONNAIRES_PROBAND.PREVIEW_ANSWERS' | translate }}
      <mat-icon>forward</mat-icon>
    </button>
    <button
      *ngIf="user.hasRole('Untersuchungsteam')"
      mat-button
      (click)="goToHistoryView()"
    >
      {{ 'QUESTIONNAIRES_PROBAND.HISTORY_LINK' | translate }}
      <mat-icon>forward</mat-icon>
    </button>
  </mat-sidenav>

  <!-- main app container -->
  <mat-sidenav-content>
    <app-alert></app-alert>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

    <div
      fxHide.gt-sm="true"
      class="buttons-group"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
    >
      <div
        *ngIf="
          questionnaire_instance_status !== 'released_twice' &&
          (user.hasRole('Proband') || user.hasRole('Untersuchungsteam'))
        "
      >
        <button mat-button [matMenuTriggerFor]="menu">
          Fragen
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <ng-container
            *ngFor="
              let question of myForm['controls']['questions'].controls;
              let questionIndex = index
            "
          >
            <button
              mat-menu-item
              (click)="onClickQuestion(questionIndex)"
              *ngIf="
                question.controls['show_question'].value &&
                question.controls['show_question_answer_condition'].value &&
                question.controls['answer_options'].controls.length > 0
              "
            >
              {{ question.controls['text'].value | stripMarkdown }}
            </button>
          </ng-container>
        </mat-menu>
      </div>
      <div>
        <button mat-button (click)="goToAnswersView(true)">
          {{ 'QUESTIONNAIRES_PROBAND.PREVIEW_ANSWERS' | translate }}
          <mat-icon>forward</mat-icon>
        </button>
      </div>
      <div *ngIf="user.hasRole('Untersuchungsteam')">
        <button mat-button (click)="goToHistoryView()">
          {{ 'QUESTIONNAIRES_PROBAND.HISTORY_LINK' | translate }}
          <mat-icon>forward</mat-icon>
        </button>
      </div>
    </div>

    <form
      class="questionnaire-form"
      [formGroup]="myForm"
      #f="ngForm"
      novalidate
      *ngIf="!isLoading"
    >
      <div class="container">
        <div
          class="swiper"
          [style.display]="
            questionnaire_instance_status === 'released_twice' ||
            displayStatus !== DisplayStatus.QUESTIONS ||
            user.hasRole('Forscher')
              ? 'none'
              : 'block'
          "
        >
          <swiper-container
            id="questionSwiper"
            #questionSwiper
            space-between="30"
            pagination-el=".swiper-pagination"
            pagination-clickable="false"
            navigation-next-el=".swiper-button-next"
            navigation-prev-el=".swiper-button-prev"
            navigation-disabled-class="swiper-navigation-disabled"
            watch-overflow="false"
            formArrayName="questions"
          >
            <swiper-slide
              *ngFor="
                let question of myForm['controls']['questions'].controls;
                let i = index
              "
              formGroupName="{{ i }}"
              fxLayoutAlign="center center"
              fxLayoutAlign.lt-md="center start"
            >
              <mat-card
                class="question-card"
                fxLayout="column"
                *ngIf="
                  question.controls['show_question'].value &&
                  question.controls['show_question_answer_condition'].value
                "
              >
                <mat-card-content fxFlex="1 0 90">
                  <app-question-text
                    [text]="question.controls.text.value"
                    [helpText]="question.controls.help_text.value"
                  >
                  </app-question-text>
                  <div formArrayName="answer_options" class="answer-options">
                    <div
                      *ngFor="
                        let answer of question.controls['answer_options']
                          .controls;
                        let j = index
                      "
                    >
                      <div formGroupName="{{ j }}">
                        @if (answer.controls['show_answer_option'].value) {
                        <div
                          *ngIf="answer.controls['text'].value"
                          class="answer-option-hint"
                        >
                          {{ answer.controls['text'].value }}
                        </div>

                        <div
                          *ngIf="answer.controls['answer_type_id'].value === 1"
                          class="answer-type radio-group"
                          data-e2e="e2e-input-type-single-select"
                        >
                          <div>
                            @if (answer.controls['use_autocomplete'].value){
                            <mat-form-field>
                              <input
                                type="text"
                                [placeholder]="
                                  'ANSWERS_PROBAND.AUTOCOMPLETE_PICK'
                                    | translate
                                "
                                data-e2e="e2e-input-type-autocomplete"
                                matInput
                                formControlName="value"
                                [matAutocomplete]="auto"
                                (blur)="validateAutocompleteInput(i, j)"
                              />
                              <mat-autocomplete
                                #auto="matAutocomplete"
                                (optionSelected)="
                                  updateSingleSelectStateFromAutocomplete(
                                    $event,
                                    i,
                                    j
                                  )
                                "
                              >
                                @for (valueAnswers of
                                answer.controls['filtered_values'].value; track
                                valueAnswers) {
                                <mat-option
                                  [value]="valueAnswers"
                                  (mousedown)="$event.preventDefault()"
                                >
                                  {{ valueAnswers }}</mat-option
                                >
                                }
                              </mat-autocomplete>
                            </mat-form-field>
                            } @else {
                            <mat-radio-group formControlName="value">
                              <div
                                *ngFor="
                                  let valueAnswers of answer.controls['values']
                                    .value;
                                  let k = index
                                "
                              >
                                <mat-radio-button
                                  #radioButton
                                  [value]="valueAnswers.value"
                                  (click)="
                                    updateSingleSelectState(radioButton, i, j)
                                  "
                                >
                                  <span
                                    (click)="$event.stopImmediatePropagation()"
                                    >{{ valueAnswers.value }}</span
                                  >
                                </mat-radio-button>
                              </div>
                            </mat-radio-group>
                            }
                          </div>
                          <mat-error *ngIf="answer.hasError('answerRequired')">
                            {{
                              'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                | translate
                            }}
                          </mat-error>
                        </div>

                        <div
                          *ngIf="answer.controls['answer_type_id'].value === 2"
                          class="answer-type checkbox-group"
                          data-e2e="e2e-input-type-checkbox-group"
                        >
                          <input [hidden]="true" formControlName="value" />
                          <div
                            *ngFor="
                              let valueList of answer.controls['values']
                                .controls;
                              let k = index
                            "
                          >
                            <input
                              id="checkboxinput"
                              #checkbox
                              type="checkbox"
                              [checked]="valueList.value.isChecked"
                              (change)="onChange(checkbox, i, j)"
                              value="{{ valueList.value.value }}"
                            />{{ valueList.controls['value'].value }}
                          </div>
                          <mat-error *ngIf="answer.hasError('answerRequired')">
                            {{
                              'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                | translate
                            }}
                          </mat-error>
                        </div>

                        <div
                          *ngIf="answer.controls['answer_type_id'].value === 3"
                          class="answer-type text"
                          data-e2e="e2e-input-type-number"
                        >
                          <mat-form-field>
                            <input
                              matInput
                              formControlName="value"
                              (input)="checkConditions(i, j)"
                            />
                            <mat-error
                              *ngIf="
                                !answer.controls['value'].hasError(
                                  'notDecimalNumber'
                                ) &&
                                answer.controls['value'].hasError(
                                  'valuesValidate'
                                ) &&
                                !answer.controls['value'].hasError('notNumber')
                              "
                              >{{
                                'QUESTION_PROBAND.VALUE_RANGES_NUMBER'
                                  | translate
                                    : {
                                        restriction_min:
                                          answer.controls['restriction_min']
                                            .value,
                                        restriction_max:
                                          answer.controls['restriction_max']
                                            .value
                                      }
                              }}
                            </mat-error>
                            <mat-error
                              *ngIf="
                                answer.controls['value'].hasError(
                                  'notDecimalNumber'
                                )
                              "
                            >
                              {{
                                'QUESTIONNAIRE_FORSCHER.VALUES_NOT_DECIMAL'
                                  | translate
                              }}
                            </mat-error>
                            <mat-error
                              *ngIf="
                                answer.controls['value'].hasError('notNumber')
                              "
                            >
                              {{
                                'QUESTIONNAIRE_FORSCHER.VALUES_NOT_INTEGER'
                                  | translate
                              }}
                            </mat-error>
                          </mat-form-field>
                          <mat-error *ngIf="answer.hasError('answerRequired')">
                            {{
                              'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                | translate
                            }}
                          </mat-error>
                        </div>

                        <div
                          *ngIf="answer.controls['answer_type_id'].value === 4"
                          data-e2e="e2e-input-type-text"
                          class="answer-type text"
                        >
                          <mat-form-field>
                            <input
                              matInput
                              type="text"
                              formControlName="value"
                              (input)="checkConditions(i, j)"
                            />
                          </mat-form-field>
                          <mat-error *ngIf="answer.hasError('answerRequired')">
                            {{
                              'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                | translate
                            }}
                          </mat-error>
                        </div>

                        <div
                          *ngIf="answer.controls['answer_type_id'].value === 5"
                          data-e2e="e2e-input-type-date"
                        >
                          <mat-form-field>
                            <mat-label
                              >{{
                                'QUESTIONNAIRE_FORSCHER.DATEPICKER' | translate
                              }}
                            </mat-label>
                            <input
                              matInput
                              [matDatepicker]="picker"
                              [min]="answer.controls['restriction_min'].value"
                              [max]="answer.controls['restriction_max'].value"
                              [value]="answer.controls['value'].value"
                              formControlName="value"
                              (dateChange)="checkConditions(i, j)"
                            />
                            <mat-error
                              *ngIf="
                                answer.controls['value'].hasError(
                                  'valuesValidate'
                                )
                              "
                              >{{
                                'QUESTION_PROBAND.VALUE_RANGES_DATE'
                                  | translate
                                    : {
                                        restriction_min:
                                          answer.controls['restriction_min']
                                            .value | date: 'dd.MM.yyyy',
                                        restriction_max:
                                          answer.controls['restriction_max']
                                            .value | date: 'dd.MM.yyyy'
                                      }
                              }}
                            </mat-error>
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="picker"
                            ></mat-datepicker-toggle>
                            <mat-datepicker
                              #picker
                              startView="multi-year"
                            ></mat-datepicker>
                          </mat-form-field>
                          <mat-error *ngIf="answer.hasError('answerRequired')">
                            {{
                              'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                | translate
                            }}
                          </mat-error>
                        </div>

                        <div
                          *ngIf="answer.controls['answer_type_id'].value === 6"
                          class="answer-type data"
                        >
                          <mat-error
                            *ngIf="answer.hasError('wrong_format')"
                            class="data-error"
                            >{{ 'SAMPLES.NOT_MATCH' | translate }}
                          </mat-error>
                          <mat-error
                            *ngIf="
                              (answer.controls['sample_id_1'] &&
                                answer.controls['sample_id_1'].hasError(
                                  'already_scanned'
                                )) ||
                              (answer.controls['sample_id_2'] &&
                                answer.controls['sample_id_2'].hasError(
                                  'already_scanned'
                                ))
                            "
                            class="data-error"
                            >{{ 'SAMPLES.ALREADY_SCANNED' | translate }}
                          </mat-error>
                          <mat-grid-list
                            layout="row"
                            [cols]="1"
                            rowHeight="100px"
                          >
                            <mat-grid-tile>
                              <mat-form-field>
                                <input
                                  matInput
                                  [value]="answer.controls['sample_id_1'].value"
                                  formControlName="sample_id_1"
                                  [readonly]="
                                    !!answer.controls['hasValue'].value
                                  "
                                  (input)="checkConditions(i, j)"
                                />
                                <mat-error
                                  *ngIf="
                                    answer.controls['sample_id_1'].value &&
                                    answer.controls['sample_id_1'].hasError(
                                      'sampleWrongFormat'
                                    )
                                  "
                                >
                                  {{
                                    'SAMPLES.WRONG_SAMPLE_FORMAT'
                                      | translate
                                        : {
                                            prefix:
                                              studyOfQuestionnaire.sample_prefix
                                                ? studyOfQuestionnaire.sample_prefix +
                                                  '-'
                                                : 'XXX',
                                            length:
                                              studyOfQuestionnaire.sample_suffix_length
                                                ? studyOfQuestionnaire.sample_suffix_length
                                                : '0-N'
                                          }
                                  }}
                                </mat-error>
                                <mat-error
                                  *ngIf="
                                    answer.controls['sample_id_1'].value &&
                                    answer.controls['sample_id_1'].hasError(
                                      'not_exist'
                                    )
                                  "
                                >
                                  {{ 'SAMPLES.NOT_EXIST' | translate }}
                                </mat-error>
                              </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile
                              *ngIf="studyOfQuestionnaire.has_rna_samples"
                            >
                              <mat-form-field>
                                <input
                                  matInput
                                  [value]="answer.controls['sample_id_2'].value"
                                  formControlName="sample_id_2"
                                  [readonly]="
                                    !!answer.controls['hasValue'].value
                                  "
                                  (input)="checkConditions(i, j)"
                                />
                                <mat-error
                                  *ngIf="
                                    answer.controls['sample_id_2'].value &&
                                    answer.controls['sample_id_2'].hasError(
                                      'sampleWrongFormat'
                                    )
                                  "
                                >
                                  {{
                                    'SAMPLES.WRONG_SAMPLE_FORMAT'
                                      | translate
                                        : {
                                            prefix:
                                              studyOfQuestionnaire.sample_prefix
                                                ? studyOfQuestionnaire.sample_prefix +
                                                  '-'
                                                : 'XXX',
                                            length:
                                              studyOfQuestionnaire.sample_suffix_length
                                                ? studyOfQuestionnaire.sample_suffix_length
                                                : '0-N'
                                          }
                                  }}
                                </mat-error>
                                <mat-error
                                  *ngIf="
                                    answer.controls['sample_id_2'].value &&
                                    answer.controls['sample_id_2'].hasError(
                                      'not_exist'
                                    )
                                  "
                                >
                                  {{ 'SAMPLES.NOT_EXIST' | translate }}
                                </mat-error>
                              </mat-form-field>
                            </mat-grid-tile>
                          </mat-grid-list>
                          <button
                            mat-raised-button
                            type="button"
                            (click)="onSendSampleIdClicked(answer)"
                            [disabled]="!!answer.controls['hasValue'].value"
                          >
                            {{ 'ANSWERS_PROBAND.VERIFY' | translate }}
                          </button>
                        </div>

                        <div
                          *ngIf="answer.controls['answer_type_id'].value === 7"
                        >
                          <mat-form-field>
                            <input
                              matInput
                              [value]="answer.controls['value'].value"
                              placeholder="{{
                                'ANSWERS_PROBAND.ENTER_PZN' | translate
                              }}"
                              formControlName="value"
                              (input)="checkConditions(i, j)"
                            />
                          </mat-form-field>
                          <mat-error
                            *ngIf="
                              answer.controls['value'].hasError('required')
                            "
                          >
                            {{
                              'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                | translate
                            }}
                          </mat-error>
                        </div>

                        <div
                          *ngIf="answer.controls['answer_type_id'].value === 8"
                        >
                          <input [hidden]="true" formControlName="value" />
                          <app-image-answer-option
                            [question_id]="answer.controls['question_id'].value"
                            [questionnaire_instance_id]="
                              questionnaireInstanceId
                            "
                            [imgId]="answer.controls['value'].value"
                            [answer_option_id]="answer.controls['id'].value"
                            [answerOptionIndex]="j"
                            [isReadOnly]="false"
                            (imgResult)="updateAnswerTypeValue($event)"
                          >
                          </app-image-answer-option>
                          <mat-error
                            *ngIf="
                              answer.controls['value'].hasError('required')
                            "
                          >
                            {{
                              'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                | translate
                            }}
                          </mat-error>
                        </div>
                        <div
                          *ngIf="answer.controls['answer_type_id'].value === 9"
                        >
                          <input [hidden]="true" formControlName="value" />
                          <app-timestamp-answer-option
                            [timestamp]="answer.controls['value'].value"
                            (timestampChanged)="
                              setAnswerTypeValue(answer, $event, i, j)
                            "
                          >
                          </app-timestamp-answer-option>
                        </div>
                        <div
                          *ngIf="answer.controls['answer_type_id'].value === 10"
                        >
                          <input [hidden]="true" formControlName="value" />
                          <app-file-answer-option
                            [question_id]="answer.controls['question_id'].value"
                            [questionnaire_instance_id]="
                              questionnaireInstanceId
                            "
                            [fileId]="answer.controls['value'].value"
                            [answer_option_id]="answer.controls['id'].value"
                            [answerOptionIndex]="j"
                            [isReadOnly]="false"
                            (fileResult)="updateAnswerTypeValue($event)"
                          >
                            >
                          </app-file-answer-option>
                        </div>
                        }
                      </div>
                    </div>
                  </div>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="end center">
                  <button
                    type="button"
                    *ngIf="questionnaire_instance_status != 'released_once'"
                    mat-raised-button
                    (click)="saveAndGoToOverview(i)"
                    data-e2e="e2e-save-questionnaire-and-exit"
                  >
                    <mat-icon>save</mat-icon>
                    {{
                      'QUESTIONNAIRES_PROBAND.SAVE_QUESTIONNAIRE_AND_EXIT'
                        | translate
                    }}
                  </button>
                </mat-card-actions>
              </mat-card>
            </swiper-slide>
          </swiper-container>
          <div class="swiper-pagination"></div>
          <div
            [hidden]="isLoading"
            class="swiper-button-next"
            data-e2e="e2e-swiper-button-next"
            (click)="onSwipeNext()"
          ></div>
          <div
            [hidden]="isLoading"
            class="swiper-button-prev"
            (click)="onSwipePrev()"
          ></div>
        </div>

        <mat-card
          class="questionnaire-card forscher"
          *ngIf="
            displayStatus == DisplayStatus.OVERVIEW ||
            questionnaire_instance_status == 'released_twice' ||
            user.hasRole('Forscher')
          "
        >
          <mat-card-header>
            <mat-card-title>
              <button
                *ngIf="
                  questionnaire_instance_status == 'released_twice' ||
                  user.hasRole('Forscher')
                "
                id="arrowback"
                mat-button
                type="button"
                (click)="backClicked()"
              >
                <i class="material-icons">arrow_back_ios</i>
              </button>
              {{ 'ANSWERS_PROBAND.OVERVIEW' | translate }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-divider
              *ngIf="
                questionnaire_instance_status == 'in_progress' ||
                questionnaire_instance_status == 'released_once' ||
                questionnaire_instance_status == 'released_twice'
              "
            ></mat-divider>
            <p>
              <ng-container
                *ngIf="
                  questionnaire_instance_status == 'in_progress' ||
                  questionnaire_instance_status == 'released_once'
                "
                >{{
                  'ANSWERS_PROBAND.OVERVIEW_HINT_IN_PROGRESS' | translate
                }}</ng-container
              >
              <ng-container
                *ngIf="questionnaire_instance_status == 'released_twice'"
                >{{
                  'ANSWERS_PROBAND.OVERVIEW_HINT_RELEASED' | translate
                }}</ng-container
              >
            </p>
            <mat-divider></mat-divider>
            <div formArrayName="questions" disabled class="questions">
              <div
                *ngFor="
                  let question of myForm['controls']['questions'].controls;
                  let i = index
                "
                formGroupName="{{ i }}"
              >
                <mat-card
                  class="answer-card"
                  *ngIf="
                    question.controls['show_question'].value &&
                    question.controls['show_question_answer_condition'].value &&
                    question.controls['answer_options'].controls.length > 0
                  "
                >
                  <app-question-text
                    [text]="question.controls.text.value"
                    [helpText]="question.controls.help_text.value"
                  >
                  </app-question-text>
                  <div formArrayName="answer_options" class="answer-options">
                    <div
                      *ngFor="
                        let answer of question.controls['answer_options']
                          .controls;
                        let j = index
                      "
                    >
                      <div formGroupName="{{ j }}">
                        <div
                          *ngIf="answer.controls['show_answer_option'].value"
                        >
                          <div
                            *ngIf="answer.controls['text'].value"
                            class="answer-option-hint"
                          >
                            {{ answer.controls['text'].value }}
                          </div>

                          <div
                            *ngIf="
                              answer.controls['answer_type_id'].value === 1
                            "
                            class="answer-type radio-group"
                            data-e2e="e2e-input-type-single-select"
                          >
                            @if (answer.controls[ 'use_autocomplete' ].value){
                            <mat-form-field>
                              <mat-select formControlName="value">
                                @for (valueAnswers of
                                answer.controls['values'].value; track
                                valueAnswers) {
                                <mat-option [value]="valueAnswers.value">
                                  {{ valueAnswers.value }}</mat-option
                                >
                                }
                              </mat-select>
                            </mat-form-field>
                            } @else {
                            <div class="radio-group">
                              <mat-radio-group formControlName="value">
                                <div
                                  *ngFor="
                                    let valueAnswers of answer.controls[
                                      'values'
                                    ].value;
                                    let k = index
                                  "
                                >
                                  <mat-radio-button
                                    [value]="valueAnswers.value"
                                    [checked]="
                                      valueAnswers.value ==
                                      answer.controls['value'].value
                                    "
                                  >
                                    <span>{{ valueAnswers.value }}</span>
                                  </mat-radio-button>
                                </div>
                              </mat-radio-group>
                            </div>

                            }

                            <mat-error
                              *ngIf="
                                answer.hasError('answerRequired') &&
                                questionnaire_instance_status !=
                                  'released_twice'
                              "
                            >
                              {{
                                'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                  | translate
                              }}
                            </mat-error>
                          </div>

                          <div
                            *ngIf="
                              answer.controls['answer_type_id'].value === 2
                            "
                            class="answer-type checkbox-group"
                            data-e2e="e2e-input-type-checkbox-group"
                          >
                            <div
                              *ngFor="
                                let valueList of answer.controls['values']
                                  .controls;
                                let k = index
                              "
                            >
                              <input
                                #checkbox
                                type="checkbox"
                                [checked]="
                                  isAnswerInArray(
                                    valueList.value,
                                    answer.controls['value'].value
                                  )
                                "
                                value="{{ valueList.value.value }}"
                              />
                              {{ valueList.controls['value'].value }}
                            </div>
                            <mat-error
                              *ngIf="
                                answer.hasError('answerRequired') &&
                                questionnaire_instance_status !=
                                  'released_twice'
                              "
                            >
                              {{
                                'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                  | translate
                              }}
                            </mat-error>
                          </div>

                          <div
                            *ngIf="
                              answer.controls['answer_type_id'].value === 3
                            "
                          >
                            <mat-form-field>
                              <input matInput formControlName="value" />
                            </mat-form-field>
                            <mat-error
                              *ngIf="
                                answer.hasError('answerRequired') &&
                                questionnaire_instance_status !=
                                  'released_twice'
                              "
                            >
                              {{
                                'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                  | translate
                              }}
                            </mat-error>
                            <mat-error
                              *ngIf="
                                !answer.controls['value'].hasError(
                                  'notDecimalNumber'
                                ) &&
                                answer.controls['value'].hasError(
                                  'valuesValidate'
                                ) &&
                                !answer.controls['value'].hasError(
                                  'notNumber'
                                ) &&
                                questionnaire_instance_status !=
                                  'released_twice'
                              "
                              >{{
                                'QUESTION_PROBAND.VALUE_RANGES_NUMBER'
                                  | translate
                                    : {
                                        restriction_min:
                                          answer.controls['restriction_min']
                                            .value,
                                        restriction_max:
                                          answer.controls['restriction_max']
                                            .value
                                      }
                              }}
                            </mat-error>
                            <mat-error
                              *ngIf="
                                !answer.controls['value'].hasError(
                                  'notNumber'
                                ) &&
                                answer.controls['value'].hasError(
                                  'notDecimalNumber'
                                ) &&
                                questionnaire_instance_status !=
                                  'released_twice'
                              "
                            >
                              {{
                                'QUESTIONNAIRE_FORSCHER.VALUES_NOT_DECIMAL'
                                  | translate
                              }}
                            </mat-error>
                            <mat-error
                              *ngIf="
                                answer.controls['value'].hasError(
                                  'notNumber'
                                ) &&
                                questionnaire_instance_status !=
                                  'released_twice'
                              "
                            >
                              {{
                                'QUESTIONNAIRE_FORSCHER.VALUES_NOT_INTEGER'
                                  | translate
                              }}
                            </mat-error>
                          </div>

                          <div
                            *ngIf="
                              answer.controls['answer_type_id'].value === 4
                            "
                            data-e2e="e2e-input-type-text"
                            class="answer-type text"
                          >
                            <mat-form-field>
                              <input
                                matInput
                                type="text"
                                formControlName="value"
                              />
                            </mat-form-field>
                            <mat-error
                              *ngIf="answer.hasError('answerRequired')"
                            >
                              {{
                                'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                  | translate
                              }}
                            </mat-error>
                          </div>

                          <div
                            *ngIf="
                              answer.controls['answer_type_id'].value === 5
                            "
                            class="answer-type date"
                            data-e2e="e2e-input-type-date"
                          >
                            <mat-form-field>
                              <input
                                matInput
                                [matDatepicker]="picker"
                                [value]="answer.controls['value'].value"
                                formControlName="value"
                              />
                              <mat-datepicker-toggle
                                matSuffix
                                [for]="picker"
                              ></mat-datepicker-toggle>
                              <mat-datepicker
                                #picker
                                startView="multi-year"
                              ></mat-datepicker>
                            </mat-form-field>
                            <mat-error
                              *ngIf="
                                answer.hasError('answerRequired') &&
                                questionnaire_instance_status !=
                                  'released_twice'
                              "
                            >
                              {{
                                'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                  | translate
                              }}
                            </mat-error>
                            <mat-error
                              *ngIf="
                                answer.controls['value'].hasError(
                                  'valuesValidate'
                                ) &&
                                questionnaire_instance_status !=
                                  'released_twice'
                              "
                              >{{
                                'QUESTION_PROBAND.VALUE_RANGES_DATE'
                                  | translate
                                    : {
                                        restriction_min:
                                          answer.controls[
                                            'restriction_min'
                                          ].value.toLocaleDateString(),
                                        restriction_max:
                                          answer.controls[
                                            'restriction_max'
                                          ].value.toLocaleDateString()
                                      }
                              }}
                            </mat-error>
                          </div>

                          <div
                            *ngIf="
                              answer.controls['answer_type_id'].value === 6
                            "
                            class="answer-type data"
                          >
                            <mat-grid-list
                              layout="row"
                              [cols]="1"
                              rowHeight="90px"
                            >
                              <mat-grid-tile>
                                <mat-form-field>
                                  <input
                                    matInput
                                    [value]="
                                      answer.controls['sample_id_1'].value
                                    "
                                    formControlName="sample_id_1"
                                    [readonly]="
                                      !!answer.controls['hasValue'].value
                                    "
                                  />
                                </mat-form-field>
                                <mat-error
                                  *ngIf="
                                    answer.hasError('answerRequired') &&
                                    questionnaire_instance_status !=
                                      'released_twice'
                                  "
                                >
                                  {{
                                    'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                      | translate
                                  }}
                                </mat-error>
                              </mat-grid-tile>
                              <mat-grid-tile
                                *ngIf="studyOfQuestionnaire.has_rna_samples"
                              >
                                <mat-form-field>
                                  <input
                                    matInput
                                    [value]="
                                      answer.controls['sample_id_2'].value
                                    "
                                    formControlName="sample_id_2"
                                    [readonly]="
                                      !!answer.controls['hasValue'].value
                                    "
                                  />
                                </mat-form-field>
                                <mat-error
                                  *ngIf="
                                    answer.hasError('answerRequired') &&
                                    questionnaire_instance_status !=
                                      'released_twice'
                                  "
                                >
                                  {{
                                    'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                      | translate
                                  }}
                                </mat-error>
                              </mat-grid-tile>
                            </mat-grid-list>
                          </div>

                          <div
                            *ngIf="
                              answer.controls['answer_type_id'].value === 7
                            "
                          >
                            <mat-form-field>
                              <mat-label
                                >{{ 'ANSWERS_PROBAND.ENTER_PZN' | translate }}
                              </mat-label>
                              <input
                                matInput
                                [value]="answer.controls['value'].value"
                                formControlName="value"
                              />
                            </mat-form-field>
                            <mat-error
                              *ngIf="
                                answer.hasError('answerRequired') &&
                                questionnaire_instance_status !=
                                  'released_twice'
                              "
                            >
                              {{
                                'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                  | translate
                              }}
                            </mat-error>
                          </div>

                          <div
                            *ngIf="
                              answer.controls['answer_type_id'].value === 8
                            "
                          >
                            <input
                              [hidden]="true"
                              [value]="answer.controls['value'].value"
                              formControlName="value"
                            />
                            <app-image-answer-option
                              [question_id]="
                                answer.controls['question_id'].value
                              "
                              [questionnaire_instance_id]="
                                questionnaireInstanceId
                              "
                              [imgId]="answer.controls['value'].value"
                              [answer_option_id]="answer.controls['id'].value"
                              [answerOptionIndex]="j"
                              [isReadOnly]="true"
                              (imgResult)="updateAnswerTypeValue($event)"
                            >
                            </app-image-answer-option>
                            <mat-error
                              *ngIf="
                                answer.hasError('answerRequired') &&
                                questionnaire_instance_status !=
                                  'released_twice'
                              "
                            >
                              {{
                                'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                  | translate
                              }}
                            </mat-error>
                          </div>
                          <div
                            *ngIf="
                              answer.controls['answer_type_id'].value === 9
                            "
                          >
                            <app-timestamp-answer-option
                              [timestamp]="answer.controls['value'].value"
                              [hideButton]="true"
                            >
                            </app-timestamp-answer-option>
                            <mat-error
                              *ngIf="
                                answer.hasError('answerRequired') &&
                                questionnaire_instance_status !=
                                  'released_twice'
                              "
                            >
                              {{
                                'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                  | translate
                              }}
                            </mat-error>
                          </div>

                          <div
                            *ngIf="
                              answer.controls['answer_type_id'].value === 10
                            "
                          >
                            <input [hidden]="true" formControlName="value" />
                            <app-file-answer-option
                              [question_id]="
                                answer.controls['question_id'].value
                              "
                              [questionnaire_instance_id]="
                                questionnaireInstanceId
                              "
                              [fileId]="answer.controls['value'].value"
                              [answer_option_id]="answer.controls['id'].value"
                              [answerOptionIndex]="j"
                              [isReadOnly]="true"
                              (fileResult)="updateAnswerTypeValue($event)"
                            >
                            </app-file-answer-option>
                            <mat-error
                              *ngIf="
                                answer.hasError('answerRequired') &&
                                questionnaire_instance_status !=
                                  'released_twice'
                              "
                            >
                              {{
                                'ANSWERS_PROBAND.ANSWER_VALUE_REQUIRED'
                                  | translate
                              }}
                            </mat-error>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions *ngIf="isReleaseButtonVisible">
            <button
              id="sdf"
              [disabled]="isQuestionnaireEmpty() || !f.form.valid"
              mat-raised-button
              color="primary"
              (click)="releaseAnswers()"
              data-e2e="e2e-release-questionnaire-1-button"
              data-unit="release-button"
            >
              <span
                *ngIf="
                  questionnaire_instance_status != 'released_once' &&
                  questionnaire_instance_status != 'released_twice'
                "
              >
                {{ 'ANSWERS_PROBAND.RELEASE_QUESTIONNAIRE1' | translate }}
              </span>
              <span *ngIf="questionnaire_instance_status == 'released_once'">
                {{ 'ANSWERS_PROBAND.RELEASE_QUESTIONNAIRE2' | translate }}
              </span>
            </button>
          </mat-card-actions>
        </mat-card>
        <mat-card
          class="questionnaire-card untersuchungsteam"
          *ngIf="
            displayStatus == DisplayStatus.HISTORY &&
            user.hasRole('Untersuchungsteam')
          "
        >
          <mat-card-title data-unit="history-view">
            {{ 'ANSWERS_PROBAND.HISTORY' | translate }}
          </mat-card-title>
          <div class="bordered">
            <div
              *ngFor="let histItem of currentHistory; let i = index"
              class="history-item"
            >
              <span>
                <strong>{{ 'ANSWERS_HISTORY.VERSION' | translate }}</strong>
                {{ histItem.versioning - 1 }},
                <strong>{{
                  'ANSWERS_HISTORY.RELEASING_PERSON' | translate
                }}</strong>
                {{ histItem.releasing_person_old }},
                <strong>{{ 'ANSWERS_HISTORY.DATE' | translate }}</strong>
                {{ histItem.date_of_release_old | date: 'dd.MM.yy - HH:mm' }}
              </span>
              <span class="arrow-right">&#8594;</span>
              <span *ngIf="histItem.date_of_release_new">
                <strong>{{ 'ANSWERS_HISTORY.VERSION' | translate }}</strong>
                {{ histItem.versioning }},
                <strong>{{
                  'ANSWERS_HISTORY.RELEASING_PERSON' | translate
                }}</strong>
                {{ histItem.releasing_person_new }},
                <strong>{{ 'ANSWERS_HISTORY.DATE' | translate }}</strong>
                {{ histItem.date_of_release_new | date: 'dd.MM.yy - HH:mm' }}
              </span>
              <span *ngIf="!histItem.date_of_release_new">
                <strong>{{ 'ANSWERS_HISTORY.CURRENT' | translate }}</strong>
              </span>

              <div
                *ngFor="let questionItem of histItem.question_items"
                class="question-item"
              >
                <strong
                  >{{ questionItem.position }}.
                  {{ 'ANSWERS_HISTORY.QUESTION' | translate }}</strong
                >
                {{ questionItem.description | stripMarkdown }}
                <table id="subquestions">
                  <tr>
                    <th>{{ 'ANSWERS_HISTORY.POSITION' | translate }}</th>
                    <th>{{ 'ANSWERS_HISTORY.TEXT' | translate }}</th>
                    <th>{{ 'ANSWERS_HISTORY.VALUE_OLD' | translate }}</th>
                    <th>{{ 'ANSWERS_HISTORY.VALUE_NEW' | translate }}</th>
                  </tr>
                  <tr
                    *ngFor="
                      let subquestionItem of questionItem.subquestion_items
                    "
                  >
                    <td>{{ subquestionItem.position }}</td>
                    <td>{{ subquestionItem.description }}</td>
                    <td>{{ subquestionItem.value_old }}</td>
                    <td>{{ subquestionItem.value_new }}</td>
                  </tr>
                </table>
              </div>
              <mat-divider
                [inset]="true"
                *ngIf="currentHistory.length != i + 1"
              ></mat-divider>
            </div>
          </div>
        </mat-card>
      </div>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
