<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button
        color="light"
        *ngIf="!disableButtons && !isChildPageOf"
      ></ion-menu-button>
      <ion-back-button
        color="light"
        text=""
        *ngIf="!disableButtons && isChildPageOf"
        [defaultHref]="isChildPageOf"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="light" unit-header-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
