/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.back_button {
  width: 95%;
  padding-bottom: 20px;
}

.message-form-group {
  width: 80%;

  div {
    mat-checkbox:not(:last-child) {
      margin-right: 20px;
    }
  }
}

mat-form-field {
  width: 100%;
}

.contact-proband-message-types {
  margin-top: 15px;
  margin-bottom: 15px;
}
