.back_button {
  width: 95%;
  padding-bottom: 20px;
}

.message-form-group {
  width: 80%;

  div {
    mat-checkbox:not(:last-child) {
      margin-right: 20px;
    }
  }
}

mat-form-field {
  width: 100%;
}
