<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<ion-item *ngIf="label" class="pia-questionnaire-question" lines="none">
  <ion-label class="ion-text-wrap">{{ label }}</ion-label>
</ion-item>

@if (platform.is('hybrid')) {
<ion-item
  fill="filled"
  mode="md"
  class="ion-margin-start ion-margin-end"
  [id]="'open-datetime-' + name"
>
  <ion-input
    data-e2e="e2e-input-type-date"
    type="text"
    data-unit="display-value"
    readonly
    [value]="displayValue ?? ('GENERAL.PLEASE_CLICK' | translate)"
  ></ion-input>

  <ion-modal [trigger]="'open-datetime-' + name">
    <ng-template>
      <ion-content>
        <ion-datetime
          id="datetime"
          size="cover"
          presentation="date"
          preferWheel="true"
          firstDayOfWeek="1"
          showDefaultTitle="true"
          [formControl]="control"
          [disabled]="disabled"
          [name]="name"
          [cancelText]="'GENERAL.CANCEL_TEXT' | translate"
          [doneText]="'GENERAL.DONE_TEXT' | translate"
          [min]="minDate?.toISOString() || undefined"
          [max]="maxDate?.toISOString() || undefined"
          [showDefaultButtons]="true"
        >
          <div slot="title">{{ 'GENERAL.SELECT_DATE' | translate }}</div>
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-item>
} @else {
<ion-item fill="filled" mode="md" class="ion-margin-start ion-margin-end">
  <input
    type="date"
    data-e2e="e2e-input-type-date"
    [value]="nativeDateValue"
    (change)="onNativeDateChange($event)"
    [disabled]="disabled"
    [attr.min]="minDate ? minDate.toISOString().split('T')[0] : null"
    [attr.max]="maxDate ? maxDate.toISOString().split('T')[0] : null"
    style="
      width: 100%;
      padding: 12px 16px;
      border: none;
      background: transparent;
      font-size: 16px;
    "
  />
</ion-item>
}
