<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<div class="pia-message-centered" *ngIf="isEmpty()">
  <p data-unit="unit-questionnaire-instances-list-empty">
    {{ 'QUESTIONNAIRE_QUESTIONS.NO_RESULTS' | translate }}
  </p>
</div>

<ion-list lines="full" *ngIf="!isEmpty()">
  <ion-item-group
    *ngIf="spontanQuestionnaireInstances.length"
    data-unit="unit-questionnaire-instances-list-spontan"
  >
    <ion-item
      button
      *ngFor="let qInstance of spontanQuestionnaireInstances; index as i"
      [routerLink]="['/questionnaire', qInstance.id]"
    >
      <ion-icon name="megaphone" slot="start"></ion-icon>

      <ion-label>
        <h2>{{ qInstance.questionnaire_name }}</h2>
        <app-questionnaire-progress-bar
          [progress]="qInstance.progress"
          [status]="qInstance.status"
        ></app-questionnaire-progress-bar>
      </ion-label>

      <ion-icon name="create" slot="end"></ion-icon>
    </ion-item>
    <ion-item-divider color="light"></ion-item-divider>
  </ion-item-group>

  <ion-item-group
    *ngIf="otherQuestionnaireInstances.length"
    data-unit="unit-questionnaire-instances-list-other"
  >
    <ion-virtual-scroll
      [items]="otherQuestionnaireInstances"
      approxItemHeight="100px"
    >
      <ion-item
        button
        *virtualItem="let qInstance"
        [routerLink]="['/questionnaire', qInstance.id]"
      >
        <ion-badge
          *ngIf="qInstance.status === 'active'"
          slot="start"
          color="tertiary"
          >{{ 'QUESTIONNAIRES.NEW' | translate }}</ion-badge
        >

        <ion-icon
          *ngIf="qInstance.status === 'released_once'"
          name="checkmark"
          color="primary"
          slot="start"
        ></ion-icon>
        <ion-icon
          *ngIf="qInstance.status === 'released_twice'"
          name="checkmark-done"
          color="primary"
          slot="start"
        ></ion-icon>
        <ion-icon
          *ngIf="qInstance.status === 'in_progress'"
          name="alert-circle"
          color="danger"
          slot="start"
        ></ion-icon>

        <ion-label>
          <h2>{{ qInstance.questionnaire_name }}</h2>
          <ion-note>{{ qInstance.date_of_issue | date: 'shortDate' }}</ion-note>
          <app-questionnaire-progress-bar
            [progress]="qInstance.progress"
            [status]="qInstance.status"
          ></app-questionnaire-progress-bar>
        </ion-label>

        <ion-icon
          *ngIf="qInstance.status !== 'released_twice'"
          name="create"
          slot="end"
        ></ion-icon>
        <ion-icon
          *ngIf="qInstance.status === 'released_twice'"
          name="eye"
          slot="end"
        ></ion-icon>
      </ion-item>
    </ion-virtual-scroll>
  </ion-item-group>
</ion-list>
