/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.md {
  ion-icon[slot='start'],
  ion-badge[slot='start'] {
    min-width: 36px;
  }
}
.ios {
  ion-icon[slot='start'],
  ion-badge[slot='start'] {
    min-width: 44px;
  }
}

.questionnaire-instances-viewport {
  height: 600px;
}
