<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<div class="jumbotron">
  <app-probands-list>
    <app-probands-list-entry-action columnName="view_compliance">
      <app-probands-list-entry-action-button
        actionId="view_compliance"
        [actionLabel]="'COMPLIANCE.COMPLIANCE' | translate"
        (click)="showCompliance($event)"
      >
      </app-probands-list-entry-action-button>
    </app-probands-list-entry-action>
  </app-probands-list>
</div>
