<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<mat-form-field>
  <input
    matInput
    #textInput
    type="text"
    placeholder="{{ 'GENERAL.TIMESTAMP' | translate }}"
    [ngModel]="timestamp | date: 'HH:mm dd.MM.yy'"
    (blur)="textInputBlurred(textInput.value)"
  />
</mat-form-field>
<button
  *ngIf="!hideButton"
  type="button"
  mat-raised-button
  color="primary"
  (click)="setTimestamp()"
>
  {{ 'GENERAL.SET' | translate }}
</button>
