<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<div *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1 mat-dialog-title *ngIf="!this.isEditMode">
      {{ 'STUDIES.NEW_STUDY' | translate }}
    </h1>
    <h1 mat-dialog-title *ngIf="this.isEditMode">
      {{ 'STUDIES.CHANGE_STUDY' | translate }}
    </h1>
    <mat-dialog-content align="start">
      <mat-form-field>
        <input
          id="studynameinput"
          data-e2e="study-name-input"
          matInput
          formControlName="name"
          placeholder="{{ 'STUDIES.STUDY_NAME' | translate }}"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          id="studydescriptioninput"
          data-e2e="study-description-input"
          matInput
          formControlName="description"
          placeholder="{{ 'STUDIES.DESCRIPTION' | translate }}"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="email"
          id="pmemailinput"
          data-e2e="pm-email-input"
          matInput
          formControlName="pm_email"
          placeholder="{{ 'STUDIES.PM_MAIL' | translate }}"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="email"
          id="hubemailinput"
          data-e2e="hub-email-input"
          matInput
          formControlName="hub_email"
          placeholder="{{ 'STUDIES.HUB_MAIL' | translate }}"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          formControlName="sample_prefix"
          placeholder="{{ 'STUDIES.SAMPLE_PREFIX' | translate }}"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="number"
          formControlName="sample_suffix_length"
          placeholder="{{ 'STUDIES.SAMPLE_SUFFIX_LENGTH' | translate }}"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="pseudonym_prefix"
          placeholder="{{ 'STUDIES.PSEUDONYM_PREFIX' | translate }}"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="number"
          formControlName="pseudonym_suffix_length"
          placeholder="{{ 'STUDIES.PSEUDONYM_SUFFIX_LENGTH' | translate }}"
        />
      </mat-form-field>
      <span
        *ngIf="form.errors?.['maxRecruitmentLimit'] && (form.get('pseudonym_suffix_length').touched || form.get('pseudonym_suffix_length').dirty)"
        class="form-field-error"
      >
        {{ 'STUDIES.PSEUDONYM_SUFFIX_LENGTH_MIN_ERROR' | translate }}
      </span>

      <mat-checkbox
        class="text-wrap"
        formControlName="has_open_self_registration"
        >{{ 'STUDIES.HAS_OPEN_SELF_REGISTRATION' | translate }}</mat-checkbox
      >
      <mat-form-field
        *ngIf="form.get('has_open_self_registration').value === true"
      >
        <input
          type="number"
          id="maxallowedaccountscount"
          matInput
          data-e2e="max-allowed-proband-count-input"
          formControlName="max_allowed_accounts_count"
          placeholder="{{ 'STUDIES.MAX_ALLOWED_ACCOUNTS_COUNT' | translate }}"
        />
        <mat-error
          *ngIf="form.get('max_allowed_accounts_count').hasError('min') && (form.get('max_allowed_accounts_count').touched || form.get('max_allowed_accounts_count').dirty)"
        >
          {{ 'STUDIES.MAX_ALLOWED_ACCOUNTS_COUNT_MIN_ERROR' | translate }}
        </mat-error>
      </mat-form-field>
      <span
        *ngIf="form.errors?.['requireMaxAllowedAccountsCountForOpenSelfRegistration'] && (form.get('max_allowed_accounts_count').touched || form.get('max_allowed_accounts_count').dirty)"
        class="form-field-error"
      >
        {{ 'STUDIES.MAX_ALLOWED_ACCOUNTS_COUNT_REQUIRED_ERROR' | translate }}
      </span>
      <span
        *ngIf="form.errors?.['maxRecruitmentLimit'] && (form.get('max_allowed_accounts_count').touched || form.get('max_allowed_accounts_count').dirty)"
        class="form-field-error"
      >
        {{ 'STUDIES.MAX_ALLOWED_ACCOUNTS_COUNT_MAX_ERROR' | translate }}
      </span>

      <mat-checkbox class="text-wrap" formControlName="has_rna_samples"
        >{{ 'STUDIES.HAS_RNA_SAMPLES' | translate }}</mat-checkbox
      >

      <mat-checkbox
        class="text-wrap"
        formControlName="has_required_totp"
        data-e2e="required-otp-checkbox"
        >{{ 'STUDIES.HAS_REQUIRED_TOTP' | translate }}</mat-checkbox
      >
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="dialogRef.close()">
        {{ 'DIALOG.CANCEL' | translate }}
      </button>
      <button
        *ngIf="!this.isEditMode"
        id="confirmbutton"
        data-e2e="confirm-create-study-button"
        mat-button
        type="submit"
        [disabled]="!form.valid"
      >
        {{ 'DIALOG.CREATE' | translate }}
      </button>
      <button
        *ngIf="this.isEditMode"
        id="confirmbutton"
        mat-button
        type="submit"
        [disabled]="!form.valid"
      >
        {{ 'DIALOG.CHANGE' | translate }}
      </button>
    </mat-dialog-actions>
  </form>
</div>
