/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.mat-mdc-form-field {
  width: 100%;
}

.form-field-error {
  color: #e53935;
  font-size: 14px;
}
