/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.loading {
  position: absolute;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

:host[cover='true'] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.6);
}
