# Logs
logs

# Dependency directories
node_modules/
.npm

# dotenv environment variables file
.env

# Test reports
tests/reports
coverage
.nyc_output
test-results_scenario-*.csv

# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings/
*.sublime-workspace
.vscode

# Test Runner Cache
.gitlab-runner-local

# Secrets
authKey
firebase
ssl
tests/private.key
