/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* Structure */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 1rem;
  align-items: baseline;
}

.probands-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  opacity: 0.8;
}

.probands-header {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
  max-width: 250px;
}

/** Selection styles */
.mat-cell {
  display: flex;
  justify-content: flex-start;
  text-align: start;
}

.mat-header-cell {
  display: flex;
  justify-content: flex-start;
}

.mat-icon {
  margin: 0 10px;
}

::ng-deep .mat-tooltip {
  font-size: 14px;
}

.account-status-column {
  text-align: start;
}
