/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* Structure */
.probands-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  opacity: 0.8;
}

/** Selection styles */
.mat-mdc-cell {
  display: flex;
  justify-content: flex-start;
  text-align: start;
}

.mat-mdc-header-cell {
  display: flex;
  justify-content: flex-start;
}

::ng-deep .mat-mdc-tooltip {
  font-size: 14px;
}

.account-status-column {
  text-align: start;
}

.table-container {
  width: 100%;
}

mat-table {
  width: max-content;
}

.fit-content {
  min-width: fit-content;
}

.word-break-all {
  word-break: break-all;
}
