/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

mat-sidenav {
  width: 260px;
  height: 100vh;
  overflow: hidden;

  .sidenav-action-buttons {
    button {
      position: absolute;
      right: 0;
    }
  }
}

mat-sidenav-container {
  height: 100vh;
  overflow: hidden;
}
