mat-sidenav {
  width: 260px;
  height: 100vh;
  overflow: hidden;

  .sidenav-action-buttons {
    button {
      position: absolute;
      right: 0;
    }
  }
}

mat-sidenav-container {
  height: 100vh;
  overflow: hidden;
}
