<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<mat-sidenav-container class="background-container" *ngIf="!isLoading">
  <mat-sidenav #sidenav [mode]="navigationMode" [opened]="!isLtMd">
    <div class="sidenav-action-buttons" *ngIf="navigationMode === 'over'">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="sidenav.opened">clear</mat-icon>
      </button>
    </div>
    <app-side-navigation
      *ngIf="isLtMd"
      [sidenav]="sidenav"
    ></app-side-navigation>
    <app-side-navigation *ngIf="!isLtMd"></app-side-navigation>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Main App container -->
    <div class="container">
      <div class="sidenav-action-buttons" *ngIf="!sidenav.opened">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">notes</mat-icon>
        </button>
      </div>
      <app-alert></app-alert>
      <router-outlet mat-router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
