<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="jumbotron" data-e2e="e2e-questionnaires-proband-content">
  <mat-card>
    <mat-card-content>
      <mat-tab-group
        (selectedTabChange)="switchTab($event.index)"
        mat-stretch-tabs="false"
        mat-align-tabs="start"
        dynamicHeight
      >
        <mat-tab
          [label]="'QUESTIONNAIRES_PROBAND.OPEN_QUESTIONNAIRES' | translate"
        >
          <app-questionnaire-instances-list
            data-e2e="e2e-proband-open-questionnaire-table"
            *ngIf="!isLoading"
            [questionnaireInstances]="openQuestionnaireInstances"
          ></app-questionnaire-instances-list>
        </mat-tab>
        <mat-tab
          [label]="'QUESTIONNAIRES_PROBAND.CLOSED_QUESTIONNAIRES' | translate"
        >
          <app-questionnaire-instances-list
            data-e2e="e2e-proband-completed-questionnaire-table"
            *ngIf="!isLoading"
            [questionnaireInstances]="closedQuestionnaireInstances"
          ></app-questionnaire-instances-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
