/*!
 * SPDX-FileCopyrightText: 2022 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import '../../../scss/framework';

#pia-logo {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 1rem 0;
}

// We don't want users to see those, see PIA-2142.
#landing-resources,
#landing-personal-info,
#landing-applications,
#nav-link-personal-info,
#nav-link-applications,
#nav-link-resources,
// We don't want to show the welcome message, which has no unique identifier on its wrapper
.pf-c-page__main-section.pf-m-limit-width.pf-m-light.pf-m-shadow-bottom {
  display: none;
}

// We only display #landing-security, so we remove the grid and center everything to make it look neat
#welcomeScreen {
  .pf-c-page__main {
    text-align: center;
  }

  .pf-l-gallery {
    display: block;
    margin: 0 auto;
    width: 20rem;
  }
}

#page-sidebar {
  .pf-c-nav__item.pf-m-expandable {
    &:before {
      display: none;
    }
  }
}

// fix spacing between links in card on startpage
#landing-signingin {
  margin-bottom: 0.35rem;
}

// fix welcomeScreen not fully centered
.pf-c-page__main-section.pf-m-limit-width > .pf-c-page__main-body {
  max-width: none;
}

#spinner_screen {
  .brand {
    display: none;
  }

  svg {
    background: transparent !important;

    path {
      fill: $primary-color-dark;
    }
  }
}

// Optimize header buttons for usage in mobile app in app browser
#loggedInUser,
#landingLoggedInUser {
  display: none;
}
#landingMobileKebab {
  display: none;
}

.pf-c-page__header-tools .pf-m-icons {
  display: block;
  visibility: visible;
}

// allow titles to be closer to their subtitles and be bold
h1:first-child {
  font-weight: 500 !important;
  margin-bottom: 0.5rem !important;
}

h2,
h3 {
  font-weight: 500 !important;
}

// fix button in page-heading being pushed out of frame
#refresh-page {
  float: right;
}

#referrerLink {
  @include button;

  line-height: 38px;
  padding: 0 20px;

  svg {
    width: 15px;
    height: 18px;
    margin-right: 4px;
  }
}

// until issue https://codebase.helmholtz.cloud/pia-eresearch-system/pia/-/issues/320 is fixed
// we do not want to show the sign out button at all
#signOutButton,
#landingSignOutButton {
  display: none !important;
}

@media screen and (max-width: 764px) {
  .pf-l-toolbar__group {
    margin-right: 0 !important;
  }

  .pf-c-page__header-tools {
    display: block;

    > .pf-c-page__header-tools-group:first-child {
      display: block !important;
    }
  }

  #mobileKebab,
  #nav-toggle,
  #signOutButton,
  #landingSignOutButton {
    display: none !important;
  }
}
