[mysqld]
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql
!includedir /etc/mysql/conf.d/
ssl=1
ssl-ca=/etc/mysql/ssl/modysCa.cert
ssl-cert=/etc/mysql/ssl/modysServer.cert
ssl-key=/etc/mysql/ssl/modysServer.key
