<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012552142126-17h0nqfhqr4agtsrusidn9g3p92m7shm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012552142126-17h0nqfhqr4agtsrusidn9g3p92m7shm</string>
	<key>API_KEY</key>
	<string>AIzaSyCsE28zox5XKtlQvf5_I63vdO6QPCDKC90</string>
	<key>GCM_SENDER_ID</key>
	<string>1012552142126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.info-pia.app</string>
	<key>PROJECT_ID</key>
	<string>pia-app-c50e8</string>
	<key>STORAGE_BUCKET</key>
	<string>pia-app-c50e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012552142126:ios:ef0e6607fcfcf3eea83ebf</string>
</dict>
</plist>