/*!
 * SPDX-FileCopyrightText: 2022 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@mixin button {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  min-width: 64px;
  padding: 0 20px;
  border-radius: 4px;
  overflow: visible;

  color: $color-white !important;
  font-weight: 500;
  font-size: 15px;
  line-height: 38px;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  vertical-align: baseline;

  background-color: $primary-color-dark !important;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;

  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-appearance: none;
}
