<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<div class="jumbotron">
  <div>
    <mat-card>
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>{{ 'WELCOME_TEXT.STUDY' | translate }}</mat-label>
            <mat-select
              disableOptionCentering
              [(value)]="newSelectedStudy"
              (selectionChange)="onSelectStudy(newSelectedStudy)"
              data-e2e="e2e-study-select"
            >
              <mat-option
                *ngFor="let study of studies"
                [value]="study"
                data-e2e="e2e-study-options"
              >
                {{ study.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="selectedStudy && preview" class="welcome-text-container">
          <markdown>{{ selectedStudyWelcomeText }}</markdown>
        </div>
        <div *ngIf="selectedStudy && !preview" class="welcome-text-container">
          <mat-form-field appearance="fill" class="welcome-text">
            <mat-label>{{
              'WELCOME_TEXT.WELCOME_TEXT_INPUT' | translate
            }}</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="20"
              [(ngModel)]="selectedStudyWelcomeText"
              unit-welcome-text
              data-e2e="e2e-welcome-text-input"
            ></textarea>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-divider *ngIf="selectedStudy"></mat-divider>
      <mat-card-actions *ngIf="selectedStudy">
        <button mat-raised-button color="primary" (click)="preview = !preview">
          {{
            (preview ? 'WELCOME_TEXT.EDIT' : 'WELCOME_TEXT.PREVIEW') | translate
          }}
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="doPublish()"
          data-e2e="e2e-publish-text-button"
        >
          {{ 'WELCOME_TEXT.PUBLISH' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
