<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<ion-content color="primary-light">
  <ion-card class="pia-login-card">
    <ion-card-header class="pia-logo-container">
      <ion-button
        *ngIf="username"
        class="go-back-button"
        fill="clear"
        color="tertiary"
        (click)="switchUser()"
      >
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <img class="pia-logo" src="assets/images/pia_logo.png" alt="pia logo" />
    </ion-card-header>

    <app-login-username
      *ngIf="!username"
      (usernameChange)="username = $event"
    ></app-login-username>

    <app-login-password-legacy
      *ngIf="username"
      [username]="username"
    ></app-login-password-legacy>
  </ion-card>
</ion-content>
