/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.pia-login-card {
  margin-top: 64px;
}

.pia-logo-container {
  display: flex;
  justify-content: center;
}

.pia-logo {
  max-height: 160px;
  max-width: 40%;
}

.go-back-button {
  position: fixed;
  left: 0;
}
