<div class="jumbotron">
  <div class="align-center">
    <form
      name="form"
      [formGroup]="form"
      class="startForm"
      (ngSubmit)="changePassword()"
      novalidate
    >
      <h2>{{ 'CHANGE_PASSWORD.CHANGE_PASSWORD' | translate }}</h2>
      <div fxLayout="column">
        <div>
          <mat-form-field>
            <label for="oldPassword">{{
              'CHANGE_PASSWORD.OLD_PASSWORD' | translate
            }}</label>
            <input
              matInput
              [type]="showPassword.checked ? 'text' : 'password'"
              id="oldPassword"
              formControlName="oldPassword"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <label for="newPassword1">{{
              'CHANGE_PASSWORD.NEW_PASSWORD' | translate
            }}</label>
            <input
              matInput
              [type]="showPassword.checked ? 'text' : 'password'"
              id="newPassword1"
              formControlName="newPassword1"
            />
            <mat-error
              *ngIf="form.controls['newPassword1'].hasError('required')"
              >{{
                'CHANGE_PASSWORD.NEW_PASSWORD_REQUIRED' | translate
              }}</mat-error
            >
            <mat-error
              *ngIf="
                form.controls['newPassword1'].hasError('pattern') &&
                !form.controls['newPassword1'].hasError('minlength')
              "
            >
              {{ 'CHANGE_PASSWORD.PATTERN_ERROR' | translate }}
            </mat-error>
            <mat-error
              *ngIf="form.controls['newPassword1'].hasError('minlength')"
              >{{
                'CHANGE_PASSWORD.PASSWORD_LENGTH'
                  | translate: { len: this.minPasswordLength }
              }}</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <label for="newPassword2">{{
              'CHANGE_PASSWORD.NEW_PASSWORD' | translate
            }}</label>
            <input
              matInput
              [type]="showPassword.checked ? 'text' : 'password'"
              id="newPassword2"
              formControlName="newPassword2"
            />
            <mat-error
              *ngIf="form.controls['newPassword2'].hasError('required')"
              >{{
                'CHANGE_PASSWORD.NEW_PASSWORD_REQUIRED' | translate
              }}</mat-error
            >
            <mat-error
              *ngIf="form.controls['newPassword2'].hasError('minlength')"
              >{{
                'CHANGE_PASSWORD.PASSWORD_LENGTH'
                  | translate: { len: this.minPasswordLength }
              }}</mat-error
            >
            <mat-error
              *ngIf="form.controls['newPassword2'].errors?.matchPassword"
              >{{ 'CHANGE_PASSWORD.PASSWORD_NO_MATCH' | translate }}</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-around center"
        class="password-options"
      >
        <mat-checkbox #showPassword>{{
          'CHANGE_PASSWORD.SHOW_PASSWORD' | translate
        }}</mat-checkbox>
        <mat-checkbox
          *ngIf="currentUser.role === 'Proband'"
          (change)="deselectPassword($event)"
        >
          {{ 'CHANGE_PASSWORD.DROP_PASSWORD' | translate }}
        </mat-checkbox>
      </div>
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-around center"
        class="buttons-group"
      >
        <button
          *ngIf="!dropPassword"
          id="changePasswordButton"
          mat-raised-button
          color="primary"
          [disabled]="loading"
          class="btn btn-primary"
        >
          {{ 'CHANGE_PASSWORD.CHANGE_PASSWORD' | translate }}
        </button>
        <button
          *ngIf="dropPassword"
          mat-raised-button
          [disabled]="loading"
          class="button-error"
        >
          {{ 'SETTINGS.CONFIRM' | translate }}
        </button>
        <button
          id="logoutButton"
          mat-raised-button
          (click)="logout()"
          type="button"
        >
          {{ 'SIDENAV.LOGOUT' | translate }}
        </button>
      </div>
      <div *ngIf="!dropPassword">
        <h3>
          {{ 'CHANGE_PASSWORD.PASSWORD_MUST_HAVE' | translate }}
        </h3>
        <ol>
          <li>
            {{
              'CHANGE_PASSWORD.AT_LEAST_X_CHAR_LONG'
                | translate: { len: minPasswordLength }
            }}
          </li>
          <li>{{ 'CHANGE_PASSWORD.ONE_DIGIT' | translate }}</li>
          <li>{{ 'CHANGE_PASSWORD.ONE_LOWERCASE_CHAR' | translate }}</li>
          <li>{{ 'CHANGE_PASSWORD.ONE_UPPERCASE_CHAR' | translate }}</li>
          <li>{{ 'CHANGE_PASSWORD.ONE_OF_THIS_SPECIAL_CHAR' | translate }}</li>
        </ol>
      </div>
      <div *ngIf="dropPassword" class="mat-error">
        <h4>
          {{ 'CHANGE_PASSWORD.NO_PW_HEADING' | translate }}
        </h4>
        <div>
          {{ 'CHANGE_PASSWORD.NO_PW_TEXT' | translate }}
        </div>
      </div>
    </form>
  </div>
</div>
