/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.startForm {
  .mat-form-field {
    width: 100%;
  }

  .password-options {
    margin: 1rem 0;
    font-size: 0.875rem;
  }

  .buttons-group {
    margin: 1rem 0;

    button {
      margin-bottom: 0.4rem;

      &.button-error {
        background-color: red;
        color: white;
      }
    }
  }

  h3,
  h4,
  ol,
  .mat-error {
    text-align: left;
  }

  h3,
  h4 {
    margin-bottom: 0.4px;
  }
}

@media screen and (max-width: 959px) {
  .startForm {
    margin: 1rem auto;
  }
}
