/*!
 * SPDX-FileCopyrightText: 2023 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

html,
body {
  height: 100%;
}
body {
  margin: 2rem;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

hr {
  margin: 3rem 0;
}
