/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* Structure */

/** Selection styles */
.mat-mdc-cell {
  justify-content: center;
  text-align: start;
  min-width: unset;
}

.mat-mdc-header-cell {
  justify-content: center;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  &:nth-child(1),
  &:nth-child(2) {
    justify-content: left;
  }

  &:nth-child(8),
  &:nth-child(9) {
    max-width: 64px;
  }
}

.forwarding-completed-column {
  max-width: 10px;
}

.proben-no-results {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 18px;
  font-style: italic;
}

.mat-column-remark {
  flex-direction: row;
  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
  }
}
