<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div class="jumbotron space-y">
  <h3>
    <button mat-icon-button (click)="onBackButtonClicked()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    {{ 'PROBANDEN.VIEW_SAMPLES' | translate }}
  </h3>
  <button mat-raised-button color="primary" (click)="printTables()">
    {{ 'PROBANDEN.EXPORT_DATA' | translate }}
  </button>
  <h3 #title1>
    {{ 'PROBANDEN.NASAL_SWABS' | translate }} {{ proband?.pseudonym }}
  </h3>
  <mat-card class="utility-card" *ngIf="!loading && showProbenTable">
    <mat-card-content>
      <!-- Filter nasal swabs -->
      <mat-form-field>
        <mat-label>{{ 'SAMPLES.FILTER_NASAL_SWABS' | translate }}</mat-label>
        <input
          matInput
          #filterNasenabstrichen
          (keyup)="applyFilterNasenabstriche($event.target.value)"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions
      *ngIf="
        !loading &&
        showProbenTable &&
        !user.hasRole('Forscher') &&
        !disableScanSampleButton
      "
    >
      <button mat-button color="primary" (click)="onScanButtonClicked(false)">
        {{ 'SAMPLES.SCAN_PROBEN_ID' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <mat-table
        #table
        [dataSource]="dataSourceNasenabstriche"
        matSortActive="proben_id"
        matSortDirection="asc"
        matSort
        *ngIf="!loading && showProbenTable"
      >
        <!-- Probes ID -->
        <ng-container matColumnDef="proben_id" matSortStart>
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'SAMPLES.VIREN_PROBE_ID' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.id }}</mat-cell>
        </ng-container>

        <!-- Dummy Probe ID -->
        <ng-container matColumnDef="dummy_proben_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'SAMPLES.BAKT_PROBE_ID' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.dummy_sample_id }}</mat-cell>
        </ng-container>

        <!-- Scanned by participant -->
        <ng-container matColumnDef="scanned_by_participant">
          <mat-header-cell *matHeaderCellDef>
            {{ 'SAMPLES.SCANNED_BY_PARTICIPANT' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container
              *ngIf="row.status === 'analyzed' || row.status === 'sampled'"
            >
              {{ 'SAMPLES.YES' | translate }}
            </ng-container>
            <ng-container
              *ngIf="row.status !== 'analyzed' && row.status !== 'sampled'"
            >
              {{ 'SAMPLES.NO' | translate }}
            </ng-container>
          </mat-cell>
        </ng-container>

        <!-- Lab results available -->
        <ng-container matColumnDef="labresults_available">
          <mat-header-cell *matHeaderCellDef>
            {{ 'SAMPLES.LABRESULTS_AVAILABLE' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.status === 'analyzed'">
              {{ 'SAMPLES.YES' | translate }}
            </ng-container>
            <ng-container *ngIf="row.status !== 'analyzed'">
              {{ 'SAMPLES.NO' | translate }}
            </ng-container>
          </mat-cell>
        </ng-container>

        <!-- Forwarding completed -->
        <ng-container
          *ngIf="user.hasRole('ProbandenManager')"
          matColumnDef="forwarding_completed"
          class="forwarding-completed-column"
        >
          <mat-header-cell *matHeaderCellDef>
            {{ 'SAMPLES.FORWARDING_COMPLETED' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox
              *ngIf="row.new_samples_sent != null"
              [disabled]="
                row.status === 'inactive' ||
                row.study_status === 'STUDIES.STATUS_DELETED' ||
                disableScanSampleButton
              "
              [(ngModel)]="row.new_samples_sent"
              (change)="onSamplesSentCheckBoxChecked(row)"
            ></mat-checkbox>
            <span *ngIf="row.new_samples_sent == null">{{
              'SAMPLES.HANDED_OUT' | translate
            }}</span>
          </mat-cell>
        </ng-container>

        <!-- AccountStatus Column -->
        <ng-container matColumnDef="study_status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'SAMPLES.STUDY_STATUS' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.study_status | translate }}
          </mat-cell>
        </ng-container>

        <!-- Remarks -->
        <ng-container
          matColumnDef="remark"
          flex
          class="remark-column"
          *ngIf="
            user.hasRole('ProbandenManager') ||
            user.hasRole('Untersuchungsteam')
          "
        >
          <mat-header-cell *matHeaderCellDef>
            {{ 'SAMPLES.REMARK' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span> {{ row.remark }} </span>
            <button
              mat-icon-button
              [disabled]="
                row.study_status === 'STUDIES.STATUS_DELETED' ||
                disableScanSampleButton
              "
              (click)="onEditCellClicked(row)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Possible actions -->
        <ng-container
          matColumnDef="action"
          flex
          *ngIf="!user.hasRole('Forscher')"
        >
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button
              mat-icon-button
              (click)="openDeleteSampleDialog(row.id, 'sample')"
              matTooltip="{{ 'SAMPLES.DELETE_SAMPLE' | translate }}"
              [disabled]="row.study_status !== 'STUDIES.STATUS_ACTIVE'"
              *ngIf="!row.pendingDeletionObject"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="
                openDialogDeletePartner(
                  row.id,
                  'sample',
                  row.pendingDeletionObject.requested_by,
                  row.pendingDeletionObject.id
                )
              "
              matTooltip="{{ 'SAMPLES.CONFIRM_DELETE_SAMPLE' | translate }}"
              *ngIf="row.pendingDeletionObject"
            >
              <mat-icon>check_circle_outline</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Active/inactive -->
        <ng-container
          *ngIf="user.hasRole('ProbandenManager')"
          matColumnDef="deactivate"
        >
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-slide-toggle
              color="primary"
              [checked]="row.status !== 'inactive'"
              [disabled]="
                row.study_status === 'STUDIES.STATUS_DELETED' ||
                disableScanSampleButton
              "
              (change)="onDeactivateRow(row)"
            ></mat-slide-toggle>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="
            user.hasRole('ProbandenManager')
              ? displayedColumnsPM
              : user.hasRole('Untersuchungsteam')
              ? displayedColumnsUT
              : displayedColumnsForscher
          "
        >
        </mat-header-row>
        <mat-row
          *matRowDef="
            let row;
            columns: user.hasRole('ProbandenManager')
              ? displayedColumnsPM
              : user.hasRole('Untersuchungsteam')
              ? displayedColumnsUT
              : displayedColumnsForscher
          "
          [style.background-color]="
            row.status !== 'inactive' ? 'transparent' : 'grey'
          "
        >
        </mat-row>
      </mat-table>

      <div class="proben-no-results" *ngIf="!showProbenTable">
        {{ 'SAMPLES.PROBAND_SAMPLES_PERMISSION' | translate }}
      </div>

      <mat-paginator
        #paginator1
        [pageIndex]="0"
        [pageSize]="25"
        [pageSizeOptions]="[5, 10, 25, 100]"
        *ngIf="showProbenTable"
      >
      </mat-paginator>
    </mat-card-content>
  </mat-card>

  <h3 #title2>
    {{ 'PROBANDEN.BLOOD_SAMPLES' | translate }} {{ proband?.pseudonym }}
  </h3>
  <mat-card class="utility-card" *ngIf="!loading && showBlutProbenTable">
    <mat-card-content>
      <mat-form-field>
        <mat-label>{{ 'SAMPLES.FILTER_BLOOD_SAMPLES' | translate }}</mat-label>
        <input
          matInput
          #filterBluteproben
          (keyup)="applyFilterBlutproben($event.target.value)"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions
      *ngIf="
        !loading &&
        user.hasRole('Untersuchungsteam') &&
        showBlutProbenTable &&
        !disableScanSampleButton
      "
    >
      <button mat-button color="primary" (click)="onScanButtonClicked(true)">
        {{ 'SAMPLES.SCAN_PROBEN_ID' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <!-- Filter blood samples -->
      <mat-table
        #table
        [dataSource]="dataSourceBlutproben"
        matSortActive="proben_id"
        matSortDirection="asc"
        matSort
        *ngIf="!loading && showBlutProbenTable"
      >
        <!-- Proben ID -->
        <ng-container matColumnDef="proben_id" matSortStart>
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'SAMPLES.PROBEN_ID' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.sample_id }}</mat-cell>
        </ng-container>

        <!-- Status -->
        <ng-container matColumnDef="blood_sample_carried_out" matSortStart>
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'SAMPLES.STATUS' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-label
              >{{ 'SAMPLES.BLOOD_SAMPLE_NOT_YET_DETERMINED' | translate }}
            </mat-label>
            <mat-select
              disableOptionCentering
              [(value)]="row.blood_sample_carried_out"
              *ngIf="user.hasRole('Untersuchungsteam')"
            >
              <mat-option
                [value]="true"
                (click)="onEditSampleStatusClicked(row, true)"
              >
                {{ 'SAMPLES.BLOOD_SAMPLE_CARRIED_OUT' | translate }}
              </mat-option>
              <mat-option
                [value]="false"
                (click)="onEditSampleStatusClicked(row, false)"
              >
                {{ 'SAMPLES.BLOOD_SAMPLE_NOT_CARRIED_OUT' | translate }}
              </mat-option>
            </mat-select>
            <span *ngIf="!user.hasRole('Untersuchungsteam')">{{
              row.blood_sample_carried_out_value | translate
            }}</span>
          </mat-cell>
        </ng-container>

        <!-- Remarks -->
        <ng-container
          matColumnDef="remark"
          flex
          *ngIf="!user.hasRole('Forscher')"
        >
          <mat-header-cell *matHeaderCellDef>
            {{ 'SAMPLES.REMARK' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.remark }}
            <button
              mat-icon-button
              *ngIf="user.hasRole('Untersuchungsteam')"
              [disabled]="
                row.study_status === 'STUDIES.STATUS_DELETED' ||
                disableScanSampleButton
              "
              (click)="onEditSampleRemarkClicked(row)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="
            user.hasRole('ProbandenManager')
              ? displayedBlutprobenColumnsPM
              : user.hasRole('Untersuchungsteam')
              ? displayedBlutprobenColumnsUT
              : displayedBlutprobenColumnsForscher
          "
        >
        </mat-header-row>
        <mat-row
          *matRowDef="
            let row;
            columns: user.hasRole('ProbandenManager')
              ? displayedBlutprobenColumnsPM
              : user.hasRole('Untersuchungsteam')
              ? displayedBlutprobenColumnsUT
              : displayedBlutprobenColumnsForscher
          "
          [style.background-color]="
            row.status !== 'inactive' ? 'transparent' : 'grey'
          "
        >
        </mat-row>
      </mat-table>

      <div class="proben-no-results" *ngIf="!showBlutProbenTable">
        {{ 'SAMPLES.PROBAND_BLOOD_SAMPLES_PERMISSION' | translate }}
      </div>

      <mat-paginator
        #paginator2
        [pageIndex]="0"
        [pageSize]="25"
        [pageSizeOptions]="[5, 10, 25, 100]"
        *ngIf="showBlutProbenTable"
      >
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
