/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

table {
  width: 100%;
}

.error-box {
  font-size: 1.3em;
  color: red;
  background-color: white;
  padding: 10px;
}
