/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.placeholder-list-label {
  font-size: 15px;
}

.generic-field-label {
  font-size: 15px;
  padding-top: 15px;
}
