h2 {
  white-space: pre-wrap;
}

.store-link-container {
  margin-top: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .store-link {
    margin: 6px;

    .store-badge {
      width: 200px;
    }
  }
}
