/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  align-items: baseline;
  width: 100%;

  .researcher-hint,
  .at-least-one-error {
    grid-column-end: span 2;
  }

  .researcher-hint {
    padding-top: 5rem;
  }
}

mat-dialog-actions {
  justify-content: center;
}
