<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<app-header
  [title]="'CHANGE_PASSWORD.TITLE' | translate"
  isChildPageOf="settings"
  [disableButtons]="!isUserIntent"
></app-header>

<ion-content color="primary-light">
  <ion-card>
    <ion-card-header>
      <ion-card-title
        >{{ 'CHANGE_PASSWORD.CHANGE_PASSWORD' | translate }}</ion-card-title
      >
    </ion-card-header>

    <form [formGroup]="form">
      <ion-item>
        <ion-label position="stacked"
          >{{ 'CHANGE_PASSWORD.OLD_PASSWORD' | translate }}</ion-label
        >
        <ion-input
          type="password"
          formControlName="oldPassword"
          name="oldPasswod"
          [placeholder]="'CHANGE_PASSWORD.OLD_PASSWORD' | translate"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"
          >{{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }}</ion-label
        >
        <ion-input
          type="password"
          formControlName="newPassword1"
          name="newPassword1"
          [placeholder]="'CHANGE_PASSWORD.NEW_PASSWORD' | translate"
          [disabled]="deselectPasswort.checked"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"
          >{{ 'CHANGE_PASSWORD.REPEAT_NEW_PASSWORD' | translate }}</ion-label
        >
        <ion-input
          type="password"
          formControlName="newPassword2"
          name="newPassword2"
          [placeholder]="'CHANGE_PASSWORD.REPEAT_NEW_PASSWORD' | translate"
          [disabled]="deselectPasswort.checked"
        >
        </ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label
          >{{ 'CHANGE_PASSWORD.DESELECT_PASSWORD' | translate }}</ion-label
        >
        <ion-toggle #deselectPasswort></ion-toggle>
      </ion-item>

      <ion-card-content>
        <ion-button color="light" (click)="onLogout()"
          >{{ 'GENERAL.LOGOUT' | translate }}</ion-button
        >
        <ion-button
          *ngIf="!deselectPasswort.checked"
          (click)="onChangePassword()"
        >
          {{ 'CHANGE_PASSWORD.CHANGE_PASSWORD' | translate }}
        </ion-button>
        <ion-button
          color="danger"
          *ngIf="deselectPasswort.checked"
          (click)="onDeselectPassword()"
        >
          {{ 'CHANGE_PASSWORD.CONFIRM' | translate }}
        </ion-button>

        <div class="ion-margin-top">
          <ion-text color="dark" *ngIf="!deselectPasswort.checked">
            <strong>{{ 'CHANGE_PASSWORD.PASSWORD_MUST' | translate }}:</strong>
            <p style="white-space: pre-wrap">
              {{ 'CHANGE_PASSWORD.DESELECT_PASSWORD_HINT1' | translate : { len:
              this.minPasswordLength } }}
            </p>
          </ion-text>

          <ion-text color="danger" *ngIf="deselectPasswort.checked">
            <strong>{{ 'CHANGE_PASSWORD.HINT' | translate }}:</strong>
            <p>{{ 'CHANGE_PASSWORD.DESELECT_PASSWORD_HINT2' | translate }}</p>
          </ion-text>
        </div>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
