<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<div class="jumbotron" data-e2e="e2e-compliance-probands-content">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <mat-card *ngIf="!isLoading">
    <h1>{{ 'SIDENAV.COMPLIANCE' | translate }}</h1>
    <app-compliance-edit-proband
      [username]="username"
      [study]="study"
    ></app-compliance-edit-proband>
  </mat-card>
</div>
