/*!
 * SPDX-FileCopyrightText: 2022 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.form-group {
  label {
    display: block;
    font-size: 14px;
    color: $color-label;
  }

  &:focus-within {
    label {
      color: $primary-color-dark;
    }
  }

  input {
  }

  input[type='text'],
  input[type='password'] {
    appearance: none;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1px;
    line-height: 2.25rem;
    width: 100%;
    padding: 0;
    font-size: 17px;

    &:focus-visible {
      outline-color: transparent;
      border-bottom: 2px solid $primary-color-dark;
      margin-bottom: 0;
    }

    &[aria-invalid='true'] {
      border-bottom-color: $form-error-color;
      border-bottom-width: 2px;
      margin-bottom: 0;
    }
  }

  input[type='checkbox'] {
    border-radius: 0;
  }

  + .form-group {
    margin-top: 1.75rem;
  }
}

.pf-m-error {
  font-size: 14px;
  color: red;
}
