<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<ion-item>
  <ion-input
    data-unit="unit-input-password"
    [type]="revealPassword ? 'text' : 'password'"
    [name]="name"
    [placeholder]="label"
    [disabled]="disabled"
    [formControl]="control"
    [label]="label"
    labelPlacement="stacked"
  >
  </ion-input>
  <ion-button
    *ngIf="!disabled"
    class="pia-reveal-password-button"
    data-unit="unit-reveal-password-button"
    slot="end"
    fill="clear"
    (pointerdown)="revealPassword = true"
    (pointerup)="revealPassword = false"
  >
    <ion-icon name="eye"></ion-icon>
  </ion-button>
</ion-item>
