/*!
 * SPDX-FileCopyrightText: 2024 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.scroll-viewport {
  height: 100%;
}

.container {
  // Full view height - toolbar height
  &.md {
    height: calc(100vh - 56px);
  }
  &.ios {
    height: calc(100vh - 44px);
  }
}
