<!--
  ~ SPDX-FileCopyrightText: 2024 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<app-header
  [title]="'SETTINGS.LICENSES' | translate"
  isChildPageOf="settings"
></app-header>

<ion-content class="container">
  <cdk-virtual-scroll-viewport
    itemSize="320"
    class="scroll-viewport"
    *ngIf="(licenses | async) !== null"
  >
    <ion-card
      *cdkVirtualFor="let license of licenses | async"
      data-unit="unit-license-card"
    >
      <ion-card-header>
        <ion-card-title data-unit="unit-license-card-title">
          <h3>{{ license.packageName }}</h3>
        </ion-card-title>
        <ion-card-subtitle data-unit="unit-license-card-subtitle">
          {{ license.license }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content data-unit="unit-license-card-content">
        <p>{{ license.licenseText }}</p>
      </ion-card-content>
    </ion-card>
  </cdk-virtual-scroll-viewport>

  <ng-container *ngIf="(licenses | async) === null">
    <ion-card
      *ngFor="let item of [].constructor(10)"
      data-unit="unit-loading-indicator"
    >
      <ion-card-header>
        <ion-card-title
          ><h3>
            <ion-skeleton-text
              animated="true"
              style="width: 60%"
            ></ion-skeleton-text></h3
        ></ion-card-title>
        <ion-card-subtitle
          ><ion-skeleton-text
            animated="true"
            style="width: 20%"
          ></ion-skeleton-text
        ></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          <ion-skeleton-text
            animated="true"
            style="width: 100%"
          ></ion-skeleton-text>
          <ion-skeleton-text
            animated="true"
            style="width: 100%"
          ></ion-skeleton-text>
          <ion-skeleton-text
            animated="true"
            style="width: 100%"
          ></ion-skeleton-text>
          <ion-skeleton-text
            animated="true"
            style="width: 100%"
          ></ion-skeleton-text>
          <ion-skeleton-text
            animated="true"
            style="width: 100%"
          ></ion-skeleton-text>
        </p>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
