<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<app-loading-spinner cover="true" *ngIf="isLoading"></app-loading-spinner>

<div class="jumbotron space-y">
  <mat-card class="utility-card">
    <mat-card-actions>
      <button
        id="createIDS"
        mat-button
        color="primary"
        (click)="createIDS()"
        unit-create-ids
      >
        {{ 'PROBANDEN.NEW_IDS' | translate }}
      </button>
      <button
        id="createProband"
        mat-button
        color="primary"
        (click)="addOrEditProband()"
        unit-create-proband
      >
        {{ 'PROBANDEN.NEW_PROBAND' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>

  <app-probands-list (isLoading)="this.isLoading = $event">
    <!-- Show lab results or details or register proband column -->
    <app-probands-list-entry-action
      columnName="view_labresults"
      [actionHeader]="'PROBANDEN.VIEW_DETAILS' | translate"
    >
      <app-probands-list-entry-action-button
        unit-view-labresults-for-proband
        actionId="view_labresults_for_proband"
        [actionLabel]="'PROBANDEN.VIEW_DETAILS' | translate"
        [disableForDeletedProbands]="true"
        [showOnlyForIdsAndPseudonymInequality]="true"
        (click)="viewDetailsForProband($event.pseudonym)"
      >
      </app-probands-list-entry-action-button>
      <app-probands-list-entry-action-button
        unit-view-labresults-add-pseudonym
        actionId="view_labresults_add_pseudonym"
        [actionLabel]="'PROBANDEN.NEW_PSEUDONYM' | translate"
        actionIcon="account_circle"
        [disableForDeletedProbands]="true"
        [showOnlyForIdsAndPseudonymEquality]="true"
        (click)="addPseudonym($event.ids)"
      >
      </app-probands-list-entry-action-button>
    </app-probands-list-entry-action>

    <!-- Show questionnaires for ut -->
    <app-probands-list-entry-action
      columnName="view_questionnaires"
      [actionHeader]="'PROBANDEN.VIEW_QUESTIONNAIRES' | translate"
    >
      <app-probands-list-entry-action-button
        unit-view-questionnaires
        actionId="view_questionnaires"
        [actionLabel]="'PROBANDEN.VIEW_QUESTIONNAIRES' | translate"
        [disableForDeletedProbands]="true"
        (click)="viewQuestionnaireInstancesForUT($event.pseudonym)"
      >
      </app-probands-list-entry-action-button>
    </app-probands-list-entry-action>
  </app-probands-list>
</div>
