/*!
 * SPDX-FileCopyrightText: 2023 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.margin-top-15 {
  margin-top: 15px;
}

.back-button {
  top: -4px;

  .back-icon {
    margin-left: 7px;
    margin-top: -1px;
  }
}
