<!--
  ~ SPDX-FileCopyrightText: 2023 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<app-loading-spinner cover="true" *ngIf="isLoading"></app-loading-spinner>

<div class="jumbotron">
  <h2>
    <button mat-icon-button class="back-button" (click)="goBack()">
      <mat-icon class="back-icon">arrow_back_ios</mat-icon>
    </button>
    {{
      'FEEDBACK_STATISTICS.HEADING' | translate: { studyName: this.studyName }
    }}
  </h2>

  <app-feedback-statistic-meta-data
    [study]="studyName"
  ></app-feedback-statistic-meta-data>

  <ng-container
    [ngSwitch]="metaDataConfigurationComponent?.form.controls.type.value"
  >
    <app-relative-frequency-time-series-configuration
      #specificConfigurationComponent
      *ngSwitchCase="'relative_frequency_time_series'"
      [study]="studyName"
    ></app-relative-frequency-time-series-configuration>
  </ng-container>

  <button
    type="button"
    mat-raised-button
    color="primary"
    class="margin-top-15"
    (click)="submit()"
  >
    <mat-icon inline="true">save</mat-icon>
    {{ 'FEEDBACK_STATISTICS.SUBMIT' | translate }}
  </button>
</div>
