<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<h1 mat-dialog-title>
  {{ 'SAMPLES.SCAN_DIALOG' + (isBloodSample ? '_BLOOD' : '') | translate }}
</h1>
<form class="form-container" [formGroup]="scanForm">
  <mat-dialog-content class="space-y full-width-children">
    <h3>{{ study.name }}</h3>

    <mat-form-field>
      <mat-label>{{
        (isBloodSample ? 'SAMPLES.PROBEN_ID' : 'SAMPLES.VIREN_PROBE_ID')
          | translate
      }}</mat-label>
      <input type="text" formControlName="sample_id" matInput />
      <mat-error *ngIf="scanForm.get('sample_id').hasError('required')"
        >{{ 'QUESTIONNAIRE_FORSCHER.VALUE_REQUIRED' | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          !scanForm.get('sample_id').hasError('required') &&
          scanForm.get('sample_id').hasError('sampleWrongFormat')
        "
      >
        {{
          'SAMPLES.WRONG_SAMPLE_FORMAT'
            | translate
              : {
                  prefix: study.sample_prefix
                    ? study.sample_prefix + '-'
                    : 'XXX',
                  length: study.sample_suffix_length
                    ? study.sample_suffix_length
                    : '0-N'
                }
        }}
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="hasDummySampleId()">
      <mat-label>{{ 'SAMPLES.BAKT_PROBE_ID' | translate }}</mat-label>
      <input type="text" formControlName="dummy_sample_id" matInput />
      <mat-error *ngIf="scanForm.get('dummy_sample_id').hasError('required')">{{
        'QUESTIONNAIRE_FORSCHER.VALUE_REQUIRED' | translate
      }}</mat-error>
      <mat-error
        *ngIf="
          !scanForm.get('dummy_sample_id').hasError('required') &&
          scanForm.get('dummy_sample_id').hasError('sampleWrongFormat')
        "
      >
        {{
          'SAMPLES.WRONG_SAMPLE_FORMAT'
            | translate
              : {
                  prefix: study.sample_prefix
                    ? study.sample_prefix + '-'
                    : 'XXX',
                  length: study.sample_suffix_length
                    ? study.sample_suffix_length
                    : '0-N'
                }
        }}
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>
      {{ 'DIALOG.CANCEL' | translate }}
    </button>
    <button
      mat-button
      color="primary"
      [disabled]="!scanForm.valid"
      [mat-dialog-close]="getScanResult()"
    >
      {{ 'DIALOG.SAVE' | translate }}
    </button>
  </mat-dialog-actions>
</form>
