<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<h1 mat-dialog-title>{{ 'SAMPLES.REMARK_INPUT_DIALOG' | translate }}</h1>
<div mat-dialog-content class="full-width-children">
  <mat-form-field>
    <mat-label>{{ 'SAMPLES.REMARK' | translate }}</mat-label>
    <textarea
      matInput
      [(ngModel)]="data.remark"
      cdkTextareaAutosize
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="10"
    ></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" mat-dialog-close>
    {{ 'DIALOG.CLEAR' | translate }}
  </button>
  <button mat-button color="primary" [mat-dialog-close]="data.remark">
    {{ 'DIALOG.SAVE' | translate }}
  </button>
</div>
