<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<h3 mat-dialog-title>
  {{ 'COMPLIANCE.DIALOG_EDIT_HEADER' | translate }}
  <em>{{ user?.pseudonym }}</em>
</h3>

<mat-dialog-content>
  <app-compliance-edit-examiner
    [username]="user?.pseudonym"
    [study]="user?.study"
  ></app-compliance-edit-examiner>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    data-e2e="dialog-button-close"
    type="button"
    (click)="dialogRef.close()"
  >
    {{ 'DIALOG.CLOSE' | translate }}
  </button>
</mat-dialog-actions>
