/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* Structure */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;

  .double-input {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-column-gap: 6%;
  }
}

.page-wrapper {
  form {
    > span {
      color: red;
    }

    .questionnaire-card {
      opacity: 0.8;

      .mat-checkbox {
        font-size: 0.8em;
        margin-top: 20px;
      }

      .study-notifications-options {
        width: 100%;
        font-size: 0.8em;

        input[type='text'] {
          cursor: pointer;
          pointer-events: all;
          width: 3em;
        }

        .mat-form-field {
          width: 150px;
          text-align: center;
        }
      }

      .condition-questionnaire {
        .mat-card-title {
          button {
            &.left {
              float: left;
            }

            &.right {
              float: right;
            }
          }
        }

        flex-wrap: wrap;
      }
    }

    #questionList {
      z-index: 100;

      .list-group {
        margin-bottom: 10px;
      }

      .mat-expansion-panel {
        .mat-expansion-panel-header {
          .mat-expansion-panel-header-title {
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          .mat-checkbox {
            margin-right: 20px;
          }
        }

        button {
          &.button-clear {
            float: right;
            margin-right: 5px;
          }
        }

        div {
          &.form-group {
            > .mat-grid-list {
              width: 90%;

              .mat-grid-tile {
                &.question-text-tile {
                  margin-bottom: 20px;
                  max-width: 900px;

                  .mat-form-field {
                    width: 90%;
                    max-width: 900px;
                  }

                  button {
                    float: right;
                  }
                }

                &.question-label-tile {
                  margin-right: 60px;

                  .mat-form-field {
                    width: 92%;
                  }
                }

                .markdown-container {
                  markdown {
                    text-align: left;
                  }
                }

                .condition-postview {
                  font-size: 1em;
                }
              }
            }

            #addQuestionCondition {
              margin: 10px;
            }

            .mat-card {
              &.conditionQuestion {
                .mat-card-title {
                  button {
                    float: right;
                  }
                }

                .mat-card-content {
                  .mat-grid-list {
                    #conditionTypeQuestionCondition {
                      .mat-option {
                        width: auto;
                      }
                    }

                    .w60 {
                      width: 60px;
                    }

                    .w60p {
                      width: 60%;
                    }

                    .mat-grid-tile {
                      &.sub-question {
                      }
                    }
                  }
                }
              }
            }
          }

          .answer-options {
            > div {
              padding-bottom: 10px;

              .mat-card {
                &.answer-card {
                  .mat-card-title {
                    > span:last-child {
                      font-weight: bold;
                      font-size: 16px;
                      color: orangered;
                      padding-left: 15px;
                      max-width: 70%;
                    }

                    button {
                      float: right;
                    }
                  }

                  .mat-grid-content {
                    .mat-grid-list {
                      .mat-grid-tile {
                        button {
                          float: left;
                          margin: 10px;
                        }

                        > span {
                          font-size: 1em;
                        }
                      }
                    }

                    .mat-card {
                      &.condition-card {
                        .mat-card-title {
                          button {
                            float: right;
                          }
                        }

                        .mat-card-content {
                          .mat-grid-list {
                            .mat-grid-tile {
                              .mat-form-field {
                                margin-bottom: 35px;

                                .mat-option {
                                  &.auto {
                                    width: auto;
                                  }
                                }

                                .mat-hint {
                                  color: red;
                                }
                              }

                              > span {
                                margin-bottom: 35px;
                              }

                              .w60 {
                                width: 60px;
                              }
                            }
                          }
                        }
                      }
                    }

                    hr {
                      margin-top: 10px;
                      margin-bottom: 20px;
                      border: none;
                      height: 1px;
                      color: black;
                      background-color: black;
                    }

                    div {
                      .mat-grid-list {
                        &.answer-type-select {
                          max-width: 1000px;

                          .mat-grid-tile {
                            &.w500 {
                              max-width: 500px;
                            }

                            .mat-form-field,
                            span:first-child {
                              margin-bottom: 20px;

                              &.w92p {
                                width: 92%;
                              }
                            }

                            button {
                              float: right;
                              margin-bottom: 20px;

                              &.button-add {
                                margin-right: 60px;
                                width: 8%;
                              }

                              &.left {
                                float: left;
                              }
                            }

                            span:nth-child(2) {
                              font-size: 10px;
                              font-style: italic;
                            }

                            &.checkbox-decimal {
                              max-width: 240px;

                              .mat-checkbox {
                                margin-bottom: 20px;
                              }
                            }
                          }
                        }
                      }

                      &.item-class {
                        .mat-form-field {
                          margin-bottom: 20px;
                        }

                        .mat-checkbox {
                          margin-left: 10px;
                        }

                        button {
                          margin-left: 20px;
                        }
                      }
                    }
                  }
                }
              }
            }

            .mat-card-actions {
              button {
                float: left;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }

    .buttons-group {
      margin-bottom: 25px;

      :not(:first-child) {
        margin-left: 10px;
      }

      #myFileInputField {
        display: none;
      }
    }
  }

  .dnd-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.notifications-card {
  background-color: #d9ecf5;
  margin-right: 50px;
  margin-left: 10px;
}

.import-view {
  pointer-events: none !important;
  cursor: none !important;
}

.markdown-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.wide-tile {
  max-width: 500px;
}

.error-outside-of-form-field {
  font-size: 13px;
}
