/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@use '@angular/material' as mat;
@use 'custom-theme' as theme;

$warning-color: mat.get-color-from-palette(mat.$yellow-palette, 500);

/* Structure */
.grid-container {
  --grid-template-columns-repeat: auto-fit;
  --grid-template-columns: repeat(
    var(--grid-template-columns-repeat),
    minmax(200px, 1fr)
  );

  @media screen and (max-width: 1279px) {
    &.responsive {
      --grid-template-columns-repeat: auto-fit !important;
    }
  }
}

.wrapping-flex-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--grid-layout-gap);
}

.card-title {
  @include mat.typography-level(theme.$typography, 'subtitle-1');
}

.checkbox {
  display: flex;
  align-items: center;
  height: var(--mat-form-field-container-height);
}

.questionnaire-conditions {
  button {
    display: inline;
    float: right;
  }
}

.question-expansion-panel {
  background-color: #d9ecf5;
  --mat-expansion-header-text-size: 1rem;
  --mat-expansion-header-text-weight: normal;
  --mat-expansion-header-text-line-height: 1.4;
}

.question-expansion-panel-title {
  .truncate-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

form {
  > span {
    color: red;
  }
}

.study-notifications-options {
  width: 100%;
  font-size: 0.8em;

  input[type='text'] {
    cursor: pointer;
    pointer-events: all;
    width: 3em;
  }

  .mat-mdc-form-field {
    width: 150px;
    text-align: center;
  }
}

.questions {
  z-index: 100;

  .list-group {
    margin-bottom: 10px;
  }

  .mat-expansion-panel {
    .mat-expansion-panel-header {
      .mat-expansion-panel-header-title {
        overflow: hidden;
      }

      .mat-expansion-panel-header-description {
        flex-grow: 0;
      }

      .mat-mdc-checkbox {
        white-space: nowrap;
      }
    }

    .form-group {
      margin-bottom: var(--pia-space-y);

      .question-text {
        display: flex;
      }

      .question-text-group {
        flex: 1;
        margin-bottom: 20px;
      }

      .question-text-field,
      .question-help-text-field {
        max-width: 900px;

        .mat-mdc-form-field {
          width: 90%;
          max-width: 900px;
        }
      }

      .question-text-preview {
        flex: 1;
      }

      .question-variable-name {
        width: 25%;
        min-width: 200px;
        margin-bottom: 1rem;

        .mat-mdc-form-field {
          width: 100%;
        }

        &--warning {
          mat-icon {
            color: $warning-color;
            text-shadow: 0 0 3px rgb(0 0 0 / 20%);
          }
        }

        &__warning {
          margin-bottom: 10px;
        }
      }

      .condition-postview {
        font-size: 1em;
      }

      .mat-mdc-card {
        &.conditionQuestion {
          .mat-mdc-card-content {
            .mat-grid-list {
              #conditionTypeQuestionCondition {
                .mat-mdc-option {
                  width: auto;
                }
              }

              .w60 {
                width: 60px;
              }

              .w60p {
                width: 60%;
              }
            }
          }
        }
      }
    }

    .answer-options {
      .answer-option {
        &__title {
          display: flex;
          align-items: center;
          white-space: nowrap;
        }

        &__index {
          padding-right: 15px;
        }

        &__move-buttons {
          display: flex;
        }

        .mat-mdc-card-title {
          button {
            float: right;
          }
        }

        .answer-option-type {
          display: flex;
          align-items: baseline;
        }

        .answer-option-description {
          display: flex;
          align-items: baseline;
        }

        .answer-option-variable-name {
          display: block;

          &__warning {
            margin-top: -15px;
            margin-bottom: 15px;
          }
        }

        .answer-type-select {
          max-width: 1000px;

          mat-form-field {
            width: 100%;
          }

          .mat-grid-tile {
            .mat-mdc-form-field,
            span:first-child {
              margin-bottom: 20px;
            }

            button {
              float: right;
              margin-bottom: 20px;

              &.button-add {
                margin-right: 60px;
                width: 8%;
              }

              &.left {
                float: left;
              }
            }

            span:nth-child(2) {
              font-size: 10px;
              font-style: italic;
            }

            &.checkbox-decimal {
              max-width: 240px;

              .mat-mdc-checkbox {
                margin-bottom: 20px;
              }
            }
          }
        }

        .mat-grid-content {
          .mat-grid-list {
            .mat-grid-tile {
              button {
                float: left;
                margin: 10px;
              }

              > span {
                font-size: 1em;
              }
            }
          }

          .mat-mdc-card.condition-card {
            .mat-mdc-card-content {
              .mat-mdc-form-field {
                margin-bottom: 35px;

                .mat-mdc-option {
                  &.auto {
                    width: auto;
                  }
                }

                .mat-mdc-form-field-hint {
                  color: red;
                }
              }

              > span {
                margin-bottom: 35px;
              }

              .w60 {
                width: 60px;
              }
            }
          }

          .item-class {
            .mat-mdc-form-field {
              margin-bottom: 20px;
            }

            .mat-mdc-checkbox {
              margin-left: 10px;
            }

            button {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}

.condition-warning {
  font-weight: bold;
  font-size: 16px;
  color: orangered;
  padding-left: 15px;
}

.create-answer-option-button {
  margin-top: 15px;
}

.buttons-group {
  margin-bottom: 25px;

  :not(:first-child) {
    margin-left: 10px;
  }

  #myFileInputField {
    display: none;
  }
}

.button-clear {
  margin-left: 5px;
  margin-right: 20px;
}

.dnd-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.notifications-card {
  background-color: #d9ecf5;
  margin-right: 50px;
  margin-left: 10px;
}

.import-view {
  pointer-events: none !important;
  cursor: none !important;
}

.markdown-container {
  overflow: auto;
}

.wide-tile {
  max-width: 500px;
}

.error-outside-of-form-field {
  font-size: 13px;
}

mat-icon.warning-icon {
  color: $warning-color;
  text-shadow: 0 0 3px rgb(0 0 0 / 20%);
}

.warning-card {
  background-color: $warning-color;
}
