<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<ion-item *ngIf="label" class="pia-questionnaire-question" lines="none">
  <ion-label class="ion-text-wrap">{{ label }}</ion-label>
</ion-item>
<ion-item *ngFor="let value of values; index as i" lines="none">
  <ion-label class="ion-text-wrap">{{ value }}</ion-label>
  <ion-checkbox
    [disabled]="disabled"
    [formControl]="getFormControlAt(i)"
    [name]="name + '-' + value"
    slot="end"
  >
  </ion-checkbox>
</ion-item>
