/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.mat-elevation-z1 {
  #deleteicon {
    background-color: transparent;
  }
}

.mat-column {
  &-id,
  &-version,
  &-delete,
  &-no_questions,
  &-active,
  &-updated_at {
    width: 1%;
  }

  &-updated_at,
  &-no_questions,
  &-delete {
    white-space: nowrap;
  }
}

th {
  white-space: nowrap;
}
