/*!
 * SPDX-FileCopyrightText: 2024 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.mat-column {
  &-id,
  &-version,
  &-delete,
  &-no_questions,
  &-active,
  &-updated_at {
    width: 1%;
  }

  &-updated_at,
  &-no_questions,
  &-delete {
    white-space: nowrap;
  }
}

th {
  white-space: nowrap;
}

.table-container {
  width: 100%;
}

table {
  width: min-content;
}
