/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.mat-mdc-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.radio-group-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}

.form-field-invalid {
  color: #e53935;
}
