/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.probands-container {
  .mat-mdc-table {
    .mat-icon {
      color: #039be5;
    }
  }

  .mobile {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .probands-container {
    .column {
      &.icon {
        min-width: 105px;
      }
    }

    .mobile {
      display: flex !important;
    }

    .browser {
      display: none;
    }
  }
}

@media screen and (max-width: 410px) {
  .page-header {
    .radio-button-group,
    button:not(:last-child) {
      margin-bottom: 0.4rem;
    }
  }
}
