<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<app-loading-spinner cover="true" *ngIf="isLoading"></app-loading-spinner>

<div class="jumbotron space-y">
  <h3>{{ 'SIDENAV.PROBANDS' | translate }}</h3>
  <button
    id="exportData"
    mat-raised-button
    color="primary"
    (click)="openDialogExportData()"
    unit-export-data
  >
    {{ 'PROBANDEN.EXPORT_DATA' | translate }}
  </button>

  <app-probands-list (isLoading)="this.isLoading = $event">
    <!-- Show answers -->
    <app-probands-list-entry-action
      columnName="view_answers"
      [actionHeader]="'PROBANDEN.VIEW_ANSWERS' | translate"
    >
      <app-probands-list-entry-action-button
        unit-view-answers
        [actionLabel]="'PROBANDEN.VIEW_ANSWERS' | translate"
        actionId="view_answers"
        [disableForDeletedProbands]="true"
        (click)="viewQuestionnaireInstancesForUser($event.pseudonym)"
      >
      </app-probands-list-entry-action-button>
    </app-probands-list-entry-action>

    <!-- Show lab results or details or register proband column -->
    <app-probands-list-entry-action
      columnName="view_labresults"
      [actionHeader]="'PROBANDEN.VIEW_LABRESULTS' | translate"
    >
      <app-probands-list-entry-action-button
        unit-view-labresults
        actionId="view_labresults_for_user"
        [actionLabel]="'PROBANDEN.VIEW_LABRESULTS' | translate"
        [disableForDeletedProbands]="true"
        (click)="viewLabResultsForUser($event.pseudonym)"
      >
      </app-probands-list-entry-action-button>
    </app-probands-list-entry-action>

    <!-- Show samples -->
    <app-probands-list-entry-action
      columnName="view_samples"
      [actionHeader]="'PROBANDEN.VIEW_SAMPLES' | translate"
    >
      <app-probands-list-entry-action-button
        unit-view-samples
        actionId="view_samples"
        [actionLabel]="'PROBANDEN.VIEW_SAMPLES' | translate"
        [disableForDeletedProbands]="true"
        (click)="viewSamplesForUser($event.pseudonym)"
      >
      </app-probands-list-entry-action-button>
    </app-probands-list-entry-action>

    <!-- Delete proband column -->
    <app-probands-list-entry-action
      columnName="delete"
      [actionHeader]="'PROBANDEN.DELETE_SPECIFIC_DATA' | translate"
    >
      <app-probands-list-entry-action-button
        unit-delete
        actionId="delete"
        actionIcon="delete"
        [actionLabel]="'PROBANDEN.DELETE_SPECIFIC_DATA' | translate"
        [disableForDeletedProbands]="true"
        (click)="openSelectDataForPartialDeletionDialog($event.pseudonym)"
      >
      </app-probands-list-entry-action-button>
    </app-probands-list-entry-action>
  </app-probands-list>
</div>
