/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.mat-dialog-content {
  overflow: visible;
}

.grid-container {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;

  & > span {
    align-self: baseline;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.dialog-export-hint {
  padding: 30px;
  background-color: #d9ecf5;
}
