/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.mat-mdc-dialog-content {
  overflow: visible;
}

.grid-container {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  align-items: center;

  & > span {
    align-self: baseline;
  }
}

.export-selection {
  list-style-type: none;
  padding-left: 0;
}

span + mat-form-field {
  margin-left: 0.5em;
}

.dialog-export-hint {
  --pia-hint-bg-color: #d9ecf5 !important;
}
