mat-checkbox {
  padding-left: 20px;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important;
}

.dialog-wrapper {
  padding: 5px;

  mat-dialog-content {
    mat-grid-list {
      mat-grid-tile {
        .mat-figure > span {
          &:first-child {
            margin-bottom: 30px;
          }
        }

        &:not(:first-child) {
          span {
            margin-right: 10px;
          }
        }
      }

      &:first-child {
        mat-form-field {
          margin-bottom: 30px;
        }
      }

      &:nth-child(2) {
        mat-form-field {
          margin: 20px;
        }
      }

      &:last-child {
        mat-grid-tile {
          &:first-child {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}

.dialog-export-hint {
  padding: 30px;
  background-color: #d9ecf5;
}
