<!--
  ~ SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  -->

<app-loading-spinner cover="true" *ngIf="isLoading"></app-loading-spinner>
<div
  class="jumbotron"
  *ngIf="!isLoading"
  data-e2e="e2e-compliance-probands-content"
>
  <h3>{{ 'SIDENAV.COMPLIANCE' | translate }}</h3>
  <form
    *ngIf="studyWrapper.complianceTextObject"
    [formGroup]="studyWrapper.form"
    (ngSubmit)="onSubmit(studyWrapper)"
  >
    <mat-card data-e2e="e2e-compliance-edit-component">
      <mat-card-header>
        <mat-card-title data-e2e="e2e-compliance-edit-component-header"
          >{{ study }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="!studyWrapper.complianceTextObject">
          {{ 'COMPLIANCE.NO_COMPLIANCE_FROM_UT_FOR_THIS_STUDY' | translate }}
        </p>
        <app-template-viewer
          [segments]="studyWrapper.complianceTextObject"
          [form]="studyWrapper.form"
          (usedFormControls)="studyWrapper.usedFormControls = $event"
        >
        </app-template-viewer>
      </mat-card-content>
      <mat-card-actions>
        <button
          data-e2e="e2e-compliance-edit-ok-button"
          mat-button
          type="submit"
          color="primary"
          [disabled]="!studyWrapper.editMode"
        >
          {{ 'GENERAL.OK' | translate }}
        </button>
        <button
          mat-button
          color="primary"
          *ngIf="!studyWrapper.editMode"
          (click)="downloadPdf()"
        >
          {{ 'COMPLIANCE.DOWNLOAD_PDF' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
